* {
  margin: 0;
  padding: 0;
}

h1 {
  color: white;
  padding-bottom: 5px;
  margin-left: 5px;
}

#top {
  background-color: #3a3a3a;
}

#middle {
  padding-top: 20px;
}

label {
  font-family: verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
}

label.ciphered_txt {
  color: red;
}

input.txt {
  width: 200px;
}
input.shift {
  width: 50px;
  margin-left: 51px;
  margin-top: 4px;
}
input.button {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 50px;
}
