<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Caesar Cipher</title>
    <link rel="stylesheet" href="hangman_style.css">
    <link rel="stylesheet" href="caesar_style.css">
    <script type="text/javascript">
      <!--
      function Redirect() {
         window.location="/";
      }
      //-->
    </script>
  </head>
  <body>
    <div id="header">
      <h1>Caesar Cipher</h1>
    </div>
    <div id="middle">
      <form>

        <label for="text">Enter the text:</label>
        <input type="text" name="text" class="ciphertext"
           pattern="[A-Za-z]" title="Only letter accepted"/> <br>

        <label for="shift_by">Shift by:</label>
        <input type="text" name="shift_by" class="shift"
           pattern="[0-9]" title="Enter a valid number"/>

        <div id ="buttons">
          <input type="submit" value="Cipher" class="btn">
          <input type="button" value="Home" class="btn" onclick="Redirect();">
        </div>

        <div id="result">
          <label for="ciphered_text" class="ciphered_txt">Ciphered text:</label>
          <output name="ciphered_text">
             <%=result%>
           </output>
        </div>
      </form>
    </div>

    <div id="footer">
      Learning Ruby on Rails
    </div>

  </body>
</html>
