<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinatra Framework Study</title>
    <link rel="stylesheet" href="caesar_style.css">
    <link rel="stylesheet" href="hangman_style.css">
  </head>
  <body>
    <div id="header">
      <h1>Sinatra Projects</h1>
    </div>

    <div id="content">
      <p>Below there is a links to programs made with Sinatra frame work to
         understand the way that the Rails framework workings under the hood.</p>
         <ul>
           <li>
             <span class="bold">Caesar Cipher</span>
              Implementation of the Caesar Cipher algorithm that takes in a
              string and aplly it a shift factor to generate a ciphered string.
           </li>
           <li>
             <span class="bold">Hangman Game</span>
             Implementation of the web version of the Hangaman Game.
           </li>
         </ul>
      <div class="link-wrapper">
        <a class="button-link" href="caesar_cipher">Caesar Cipher</a>
        <a class="button-link" href="hangman_game">Hangman Game</a>
      </div>
    </div>

    <div id="footer">
      Learning Ruby on Rails
    </div>

  </body>
</html>
