body {
  margin: 0;
}

a {
  color: #333;
  text-decoration: none;
}

.font-nytc {
  font-family: nyt-franklin,helvetica,arial,sans-serif;
}

/* Menu bar styles */
#menu-bar {
  width: 100%;
  height: 43px;
  padding: 4px 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  font-family: "nyt-franklin",helvetica,arial,sans-serif;
}

#menu-bar div {
  float: left;
}

#icons-container {
  width: 76px;
  margin-left: 17px;
  display: inline-block;
}

#icons-container div {
  margin-top: 14px;
}

#icons-container div:first-child {
  margin-right: 32px;
}

#section-title {
  margin-left: 20px;
  font-size: 16px;
  margin-top: 16px;
  letter-spacing: 0.05em;
  vertical-align: baseline;
  text-transform: uppercase;
}

#section-title a {
  color: #000;
  font-weight: 900;
}
#section-title a:hover {
  text-decoration: underline;
}

#logo-container {
  width: 62%;
  height: 28px;
  margin-top: 8px;
  text-align: center;
}

#buttons-container {
  margin-top: 9px;
  display: inline-block;
}

#buttons-container button {
  color: #fff;
  cursor: pointer;
  font-size: 11px;
  font-weight: 700;
  line-height: 11px;
  border-radius: 3px;
  padding: 8px 9px 6px;
  letter-spacing: 0.05em;
  background-color: #6288a5;
  border: 1px solid #326891;
  text-transform: uppercase;
}

#buttons-container button:hover {
  transition: 0.6s;
  background-color: #326891;
}

/* Main content styles */
#main-container {
  height: auto;
  margin-top: -4px;
}

#main-container h1 {
  width: 385px;
  margin-left: 150px;
  /* text-align: left; */
}

#story {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-container h1 span {
  font-size: 35px;
  font-style: oblique;
}

#cosmos-img {
  margin-bottom: 40px;
}

figure {
  font-size: 13px;
  text-align: left;
}

figure img {
  width: 893px;
  height: 502px;
}

figcaption {
  width: 90%;
}

figcaption span {
  font-size: 12px;
  color: #999;
}

#article-info {
  height: 62px;
  margin-top: 10px;
}

#article-info > div {
  height: 62px;
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

#article-info > div > div {
  height: 22px
  width: 112px;
}

#article-info > div > div p {
  color: #000;
  margin-top: 2px;
  font-weight: 700;
  line-height: 1rem;
  font-size: .75rem;
}

#article-info > div > div > p span {
  border-bottom: 1px solid #CCC;
}

#article-info a {
  color: #000;
}

#article-info  > div > div > p span:hover {
  border-bottom-color: #000;
}

ul {
  height: 40px;
  margin-top: 20px;
  list-style-type: none;
}

/* ul li {
  float: left;
  display: inline-block;
} */

#first-image-footer li:nth-child(2) {
  float: right;
}

ul > li > time {
  color: #666;
  font-weight: 500;
  line-height: 1rem;
  margin-left: -40px;
  font-size: 0.85rem;
}

li img {
  margin-top: -6px;
  margin-right: 10px;
}

#article-text {
  margin-top: 25px;
}

.text-container {
  width: 610px;
  margin: 0 auto;
}

.text-container p {
  width: 600px;
  margin: 0 auto;
  font-size: 17px;
  text-align: left;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 20px;
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

.text-container h3 {
  margin-left: 4px;
}

/* Image inflation theory styles */

#inflation-container {
  width: 945px;
  height: 740px;
  margin: 0 auto;
}

#inflation-container header h2, p {
  text-align: left;
}

.sumary-theory p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-top: -15px;
  margin-bottom: 10px;
  color: rgba(102, 102, 102);
  font-family: georgia,"times new roman",times,serif;
}

.theory-part-one img , .theory-part-two  img {
  width: 945px;
}

.theory-part-one div, .theory-part-two div {
  float: left;
  width: 220px;
  margin-right: 10px;
  margin-left: 6px;
  display: inline-block;
}

.theory-part-one div > p, .theory-part-two div > p {
  color: #000000;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
}

article footer {
  height: 1px;
  width: 60px;
  font-size: 14px;
  margin:  0 0 100px 207px;
  display: inline-block;
  background-color: #000;
}

#inflation-credit {
  width: 400px;
}

.more-text-container {
  width: 600px;
  margin: 0 auto;
}

#more-text {
  width: 500px;
  height: 100px;
  margin-top: 40px;
}

#more-text div > p {
  font-size: 17px;
}

/* Video Styles */
#yt-celebrate {
  height: 319px;
  width: 600px;
  padding: 20px 0 60px 0;
  text-align: left;
}

#yt-celebrate figcaption span:first-child {
  color: #666;
  font-size: 14px;
}

#yt-celebrate figcaption span:nth-child(2) {
  color: #999;
}

#yt-celebrate iframe {
  width: 600px;
  height: 319px;
}

#celebrate-link {
  color: #326891;
  text-decoration: underline;
}

/* Telescop images styles */
#telescope {
  width: 630px;
  height: 420px;
  margin: 0 auto;
  margin-bottom: 80px;
}

#telescope img {
  width: 630px;
  height: 420px;
}

#telescope figcaption {
  margin-top: 5px;
}

#telescope figcaption span {
  font-family: nyt-imperial,georgia,'times new roman',times,serif;
}

#telescope figcaption span:first-child {
  color: #1b1b1b;
  font-size: 14px;
}

#telescope figcaption span:nth-child(2) {
  font-size: 12px;
  margin-left: 7px;
}

/* End of article styles */
.bottom-of-article, .bottom-of-article span > a {
  width: 600px;
  color: #999;
  margin: 0 auto;
  font-size: 12px;
  margin-bottom: 10px;
}

.bottom-of-article span > a:hover {
  text-decoration: underline;
  color: #999;
}

.bottom-of-article div:nth-child(2) {
  margin-top: 20px;
  margin-bottom: 50px;
}

.related-content-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 100px;
}

.more-content-wrapper
  .related-content-wrapper {
  display: inline-block;
  float: left;
}

#related-content {
  width: 858px;
  height: 300px;
  padding-top: 10px;
  border-top: 1px solid;
}

#related-content header,
#editor-picks header,
#trending-wrapper header {
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 20px;
}

.list-more {
  display: grid;
  grid-gap: 20px;
  margin-left: 0;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.more-item img {
  width: 272px;
  height: 182px;
}

.more-item figcaption {
  color: #666;
  font-size: 10px;
  margin-top: 3px;
  text-align: right;
  font-family: nyt-cheltenham-small,georgia,times new roman;
}

.sub-caption {
  font-size: 11px;
  text-align: left;
}

.sub-caption h2 {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 5px;
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
}

.sub-caption span {
  color: #999;
  font-size: 12px;
  font-weight: 400;
  font-family: nyt-franklin;
}

.sub-caption a {
  color: #121212;
}

#editor-picks {
  width: 858px;
  height: 330px;
  margin-top: 360px;
  border-top: 1px solid;
  margin-bottom: 20px;
}

#editor-picks header {
  margin-top: 10px;
}

#trending-wrapper {
  float: left;
  width: 264px;
  margin-left: 20px;
  padding-top: 10px;
  border-top: 1px solid;
}

#trending-wrapper ul {
  padding-left: 0;
  border-top: 1px solid #e2e2e2;
}

#trending-wrapper li {
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
}

#trending-wrapper a {
  color: #121212;
  font-size: 18px;
  font-weight: 530;
  line-height: 1.25rem;
  font-family: nyt-cheltenham,georgia,times new roman,times,serif;
}

/* Bottom of the page styles */
nav {
  clear: both;
  height: 420px;
  margin: 0 auto;
  max-width: 1200px;
  border-bottom: 1px solid rgb(226, 226, 226);
}
nav:before {
  content: "";
  display: block;
  height: 1px;
  margin-top: 0px;
  border-top: 2px solid rgb(226, 226, 226);
  border-bottom: 1px solid rgb(226, 226, 226);
}

nav div {
  padding-top: 5px;
}

.other-links {
  display: grid;
  grid-gap: 20px;
  margin-left: 0;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(6, 1fr);
}

#subscribe {
  padding-left: 15px;
  border-left: 1px solid rgb(226, 226, 226);
}

#subscribe ul {
  padding-left: 0;
}

#subscribe ul > li {
  float: none;
}

/* #subscribe ul:nth-child(3) {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(226, 226, 226);
} */

#home-page-link {
  height: 26px;
  width: 1007px;
  text-align: right;
  vertical-align: top;
  display: inline-block;
}

#home-page-link a {
  font-size: 12px;
  font-weight: 400;
  line-height: 11px;
  font-style: normal;
  vertical-align: sub;
  color: rgb(98, 136, 165);
  font-family: nyt-franklin;
}

.ul-links {
  padding: 0;
  margin: 0;
}

.li-links {
  height: 26px;
}

.other-links section > h3 {
  height: 25px;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  line-height: 15px;
  text-transform: uppercase;
}

#subscribe {
  margin: 0;
  padding: 0;
  padding-left: 15px;
}

#subscribe h3 {
  height: 25px;
  margin-top: 0;
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 700;
}

#subscribe-ul-1 {
  margin-top: 0;
  margin-bottom: 50px;
}

#subscribe-ul-1 li {
  height: 25px;
  margin-bottom: 5px;
}

#subscribe-ul-1 li a {
  font-weight: bold;
  color: #000;
}

svg {
  height: 14px;
}

#subscribe-ul-2 {
  padding-bottom: 15px;
}

#subscribe-ul-2 li,
#subscribe-ul-3 li {
  height: 25px;
  font-size: 13px;
}

#subscribe-ul-3 {
  padding-top: 5px;
  border-top: 1px solid rgb(226, 226, 226);
}

@media screen and (max-width: 1125px) {
  #logo-container {
    width: 45%;
  }
}

@media screen and (max-width: 929px) {
  #section-title {
    display: none;
  }
  #menu-bar {
    justify-content: space-around;
  }

  figure img {
    width: 90%;
    height: 50%;
  }
}
