/*======================================
  Shared styles.
 =======================================*/
.right-border {
  border-right: 1px solid #dcdee3;
}

.left-border {
  border-left: 1px solid #dcdee3;
}

.side-borders {
  border-right: 1px solid #dcdee3;
  border-left: 1px solid #dcdee3;
}

.up-border {
  border-top: 1px solid #dcdee3;
}

.down-border {
  border-bottom: 1px solid #dcdee3;
}

.up-down-borders {
  border-top: 1px solid #dcdee3;
  border-bottom: 1px solid #dcdee3;
}

/*======================================
  Comment styles.
 =======================================*/
.comment-details {
  width: 500px;
  height: 52px;
  margin-left: 10px;
  background-color: #f6f7f9;
}

.comment-details img {
  height: 32px;
  width: 32px;
  margin-left: 8px;
  margin-top: 8px;
}

.comment-info {
  max-width: 425px;
  margin-left: 2px;
  display: inline-block;
}

.comment-info a {
  font-size: 12px;
  font-weight: bold;
  vertical-align: top;
}

.comment-info .user_name {
  text-decoration: none;
  color: #3b5998;
}

.comment-info span {
  font-size: 12px;
  vertical-align: top;
}

.comment-info p {
  color: #9197a3;
  font-size: 12px;
  vertical-align: top;
}


/*======================================
   Form comment styles
========================================*/
.fcomment {
  width: 500px;
  height: 54px;
  margin-left: 10px;
  background-color: #f6f7f9;
}

.fcomment a img {
  width: 32px;
  height: 34px;
  margin-top: 8px;
  margin-left: 10px;
}

.fcomment ul li {
  display: block;
  float: left;
}

.fcomment input {
  margin-left: 6px;
  margin-top: 8px;
  height: 34px;
  width: 444px;
  padding-left: 2px;
}

.likes {
  height: 31px;
  width: 500px;
  margin-left: 10px;
  padding-top: 4px;
  display: inline-block;
  background-color: #f6f7f8;
}

.likes span {
  color: #3b5998;
  font-size: 12px;
  margin-left: 4px;
}

.likes img {
  width: 12px;
  height: 12px;
  margin-left: 10px;
}
