// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*======================================
  Comment styles.
 =======================================*/

 .comment-body {
   width: 500px;
   height: 52px;
   margin-left: 10px;
   display: inline-block;
   background-color: #f6f7f9;
   border-right: 1px solid #dcdee3;
   border-left: 1px solid #dcdee3;
  }

  .commenter-container {
    display: inline-block;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
  }

  .commenter-container a:link {
    text-decoration: none;
    color: #3b5998;
  }

  #info-user .commenter_name {
    font-size: 12px;
    margin-top: -28px;
    margin-left: 30px;
    font-weight: bold;
  }

  #comment-txt {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: middle;
  }

/*======================================
   Form comment styles
========================================*/
.fcomment {
  width: 500px;
  height: 54px;
  margin-left: 10px;
  background-color: #f6f7f9;
  border-left: 1px solid #dcdee3;
  border-right: 1px solid #dcdee3;
  border-bottom: 1px solid #dcdee3;
}

.fcomment a img {
  width: 32px;
  height: 32px;
  margin-top: 8px;
  margin-left: 10px;
}

.fcomment ul li {
  display: block;
  float: left;
}

.fcomment input {
  margin-left: 6px;
  margin-top: 8px;
  height: 34px;
  width: 444px;
}
