// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.frm-post {
  margin-left: 10px;
  margin-top: 5px;
  width: 500px;
  border-radius: 3px;
  border: 1px solid #d3d6db;
}

.post-title {
  width: 498px;
  height: 33px;
  border-bottom: 1px solid #dcdee3;
  padding: 10px 0 8px 12px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 3px 3px 0 0;
  background-color: #f6f7f8;
}

.frm-post textarea {
  width: 100%;
  border: none;
  resize: none;
  height: 100px;
  padding: 13px 12px 5px 12px;
}

.frm-post .post-submit {
  height: 41px;
  padding: 8px;
  background-color: #f6f7f8;
  border-top: 1px solid #dcdee3;
  margin-top: -2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.post-submit input[type="submit"] {
  float: right;
  background-color: #3a5795;
  border-color: #3a5795;
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  padding: 0 6px;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: content-box;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  width: 60px;
  height: 28px;
  margin-top: -2px;
}

.posted {
  height: 166px;
  width: 500px;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 3px;
  border: 1px solid #d3d6db;
  border-bottom: none;
  background-color: #fff;
}

.posted a:link {
  color: #3b5998;
}

.posted a img {
  margin: 8px 0 0 8px;
}

.info-comment a img {
  width: 40px;
  height: 40px;
}

.posted .user_name {
  margin-top: -44px;
  margin-left: 54px;
  display: block;
}

.time-passed {
  font-size: 10px;
  margin-left: 54px;
  margin-top: 12px;
  display: block;
}

.post-content {
  width: 480px;
  height: 60px;
  margin-top: 16px;
  margin-left: 8px;
  padding-bottom: 12px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

/*====================================
  Comments
======================================*/
.links-comment ul li {
  float: left;
  display: inline-block;
  margin: 10px 50px 0 10px;
}

.post-comment {
  margin-top: 38px;
}

.comment-date {
  margin-left: 38px;
  font-size: 12px;
}
