// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.frm-post {
  margin-left: 10px;
  margin-top: 5px;
  width: 500px;
  border-radius: 3px;
  border: 1px solid #d3d6db;
}

.post-title {
  width: 498px;
  height: 33px;
  border-bottom: 1px solid #dcdee3;
  padding: 10px 0 8px 12px;
  font-weight: bold;
  line-height: 16px;
  border-radius: 3px 3px 0 0;
  background-color: #f6f7f8;
}

.frm-post textarea {
  width: 100%;
  border: none;
  resize: none;
  height: 100px;
  padding: 13px 12px 5px 12px;
}

.frm-post .post-submit {
  height: 41px;
  padding: 8px;
  background-color: #f6f7f8;
  border-top: 1px solid #dcdee3;
  margin-top: -2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.post-submit input[type="submit"] {
  float: right;
  background-color: #3a5795;
  border-color: #3a5795;
  color: #fff;
  font-size: 12px;
  line-height: 22px;
  padding: 0 6px;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: content-box;
  font-weight: bold;
  justify-content: center;
  position: relative;
  text-align: center;
  text-shadow: none;
  vertical-align: middle;
  width: 60px;
  height: 28px;
  margin-top: -2px;
}

/*=========================================
  Posts styles
===========================================*/

.posted {
  height: 166px;
  width: 500px;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 3px;
  border: 1px solid #d3d6db;
  border-bottom: none;
  background-color: #fff;
}

.posted img {
  width: 40px;
  height: 40px;
}

.posted a:link {
  color: #3b5998;
}

.posted a img {
  margin-left: 8px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
}

.posted p {
  margin-top: 10px;
  margin-left: 10px;
}

.profile-img {
  float: left;
  display: inline-block;
}

.post-info {
  float: left;
  width: 410px;
  height: 40px;
  margin-left: 2px;
  max-width: 460px;
  margin-top: 10px;
  display: inline-block;
}

.post-info a {
  vertical-align: top;
}

.posted .post-info p {
  color: #9197a3;
  font-size: 11px;
  margin-left: 1px;
  margin-top: 1px;
}

.posted p {
  max-width: 460px;
  margin-left: 14px;
}

.post-content {
  width: 465px;
  height: 60px;
  margin-top: 16px;
  margin-left: 8px;
  padding-bottom: 12px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  display: inline-block;
}

.post-delete a img {
  width: 15px;
  height: 15px;
  margin-left: 18px;
  display: inline-block;
}

/*====================================
  Comments
======================================*/
.links-comment ul li {
  float: left;
  display: inline-block;
  margin: 5px 50px 0 10px;
}

.links-comment li>a {
  margin-left: 5px;
}

.post-comment {
  margin-top: 38px;
}

.no-form {
  width: 510px;
  height: 1px;
  // border-top: 1px solid #dcdee3;
}
