// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-container {
  width: 505px;
  margin-left: 150px;
  margin-top: 17px;
  background-color: #fff;
  border-top: 1px solid #bdc7d8;
  border-left: 1px solid #bdc7d8;
  border-right: 1px solid #bdc7d8;
}

.users-header {
  height: 60px;
  border-bottom: 1px solid #d3d6db;
  background-color: #f6f7f8;
}

.users-header h2 {
  font-size: 24px;
  padding: 16px 0;
  text-align: center;
}

.users-container ul li {
  height: 85px;
  border-bottom: 1px solid #bdc7d8;
}

.user-img, .user-info,
.user-name, .btn-friendship {
  float: left;
  display:inline-block;
}

.user-name,
.btn-friendship {
  // position: relative;
}

.user-img {
  margin-top: 5px;
  margin-left: 5px;
}

.user-info {
  width: 398px;
  height: 75px;
  top: -32px;
}

.user-name {
  margin-top: 6%;
  margin-left: 4px;
}

.user-name a {
  color: #3a5795;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.btn-friendship {
  right: 10px;
  float: right;
  margin-top: 22px;
  display: inline-block;
}

.btn {
  color: #fff;
  height: 29px;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  border:1px solid #435a8b;
  background-color: #3a5795;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
}
