* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

[class*='grid-item'] {
  border: none;
}

header.grid {
  top: 0;
  left: 0;
  z-index: 1;
  height: 98px;
  max-width: 100%;
  position: fixed;
  min-width: 275px;
  background-color: #fff;
  border-top: 6.5px solid #333;
  border-top-width: 9px;
  border-bottom: 1px solid #E9E9E9;
  padding-left: calc(50% - 37.5rem);
  padding-right: calc(50% - 37.5rem);
}

.grid-alignments {
  flex: 1;
  display: flex;
  margin-top: 0;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  text-align: left;
  padding: 0;
  width: 9px;
  padding-top: 4px;
}

.menu-button i {
  font-size: 1.6rem;
  color: #828282;
}

.logo-comp {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.logo {
  padding-right: 10px;
}

.logo span {
  font-size: 45px;
  font-weight: bolder;
  color: #000;
  font-family: 'Montserrat',sans-serif;
}

span.logo-co { color: #a79830; }

.slogan {
  display: flex;
  padding-top: 5px;
  line-height: 30px;
  padding-left: 10px;
  align-items: center;
  border-left: 2.4px solid #ccc;
}

.slogan span {
  font-family: 'Heebo', sans-serif;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #b9b9bd;
}

.search {
  display: flex;
  padding-right: 0;
  width: 300px;
  justify-content: flex-end;
}

.search input {
  margin: 0;
  outline: 0;
  height: 40px;
  font-size: 16px;
  padding: 0 10px;
  width: 300px;
  line-height: 1.2rem;
  border: 1px solid #D8D8D8;
  font-family: Georgia,Times,"Times New Roman",serif;
}

.search button {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  background: #DE2229;
  border: none;
  color: #fff;
  line-height: 1;
  cursor: pointer;
  font-weight: bold;
}

.search-icon { display: none; }


/**********************************
        Main Section styles
***********************************/
main {
  left: 0;
  right: 0;
  top: 93px;
  z-index: 0;
  max-width: 100%;
  position: absolute;
  background-color: #F9F9F4;
  padding-bottom: 50px;
}

.image-nav-items.grid {
  padding-top: 50px;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: calc(50% - 40.5rem);
  padding-right: calc(50% - 37.5rem);
}

.science, .humanities,
.arts, .resources {
  z-index: 10;
}

.science img {
  width: 190px;
}

.humanities img {
  width: 140px;
}

.arts img {
  width: 150px;
}

.resources img {
  width: 180px;
}

articles.grid {
  z-index: 3;
  margin-top: -8px;
  justify-content: space-evenly;
  padding-left: calc(50% - 38.5rem);
  padding-right: calc(50% - 37.5rem);
}

article.grid-item-3 {
  padding: 15px 4px 4px 4px;
  background-color: #fff;
  margin-right: 20px;
}

article h2 {
  margin-bottom: 15px;
}

article img {
  width: 92%;
  height: 167px;
  /* overflow: hidden; */
}

/**********************************
      Media Query styles
***********************************/
@media (max-width: 1125px) {
  header.grid {
    padding-left: 1.2rem;
  }

  .menu-button {
    width: 35px;
  }

  .search-icon {
    display: none;
  }
}

@media (max-width: 980px) {

  header.grid {
    height: 78px;
    border-top-width: 8px;
  }

  .search {
    display: none;
  }

  .search-icon {
    display: inline;
    width: 50px;
  }

  .search-icon i {
    color: #de2229;
    font-size: 1.4em;
    margin-right: 10px;
    margin-top: 10px;;
    visibility: visible;
  }

  .logo span {
    font-size: 38px;
  }

  .slogan span {
    font-size: 14px;
  }

}

@media (max-width: 560px) {
  .logo-comp {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo span {
    font-size: 25px;
    margin: 0;
  }

  .slogan span {
    font-size: 10px;
  }

  .slogan {
    padding: 0;
    margin:  0;
    min-height: 0;
    line-height: 15px;
    border-left: none;
  }


}
