root: {
  --black-color: #282828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Lato,HelveticaNeueBold,HelveticaNeue-Bold,"Helvetica Neue Bold",
               HelveticaBold,Helvetica-Bold,"Helvetica Bold",HelveticaNeue,
               "Helvetica Neue", Helvetica,Arial,sans-serif;
  color: var(--black-color);
}

a {
  color: var(--black-color);
  text-decoration: none;
}

h2 { word-wrap: break-word; }

.img {
  max-width: 100%;
  height: auto;
}

/*************************************
*              Header styles
**************************************/

header.grid {
  z-index: 30;
  height: 67px;
  margin-top: 0;
  display: flex;
  max-width: 100%;
  position: fixed;
  padding-left: 1.2rem;
  border-top-width: 9px;
  padding-right: 1.2rem;
  background-color: #fff;
  border-top: 6.5px solid #333;
  border-bottom: 1px solid #E9E9E9;
  transition: all .15s ease-in-out;
}

header.grid {
  align-items: center;
  justify-content: space-evenly
}

.button-menu {
  margin-left: 0;
  margin-right: 0;
  max-width: 40px;
  display: inherit;
  justify-content: flex-end;
}

.button-menu i {
  font-size: 1.6rem;
  color: #828282;
}

.logo-comp {
  display: inherit;
  align-items: center;
  justify-content: flex-start;
  line-height: 40px;
  margin-left: 0;
}

.logo-comp h2 {
  color: #000;
  font-size: 50px;
  font-weight: 900;
  padding-right: 10px;
  border-right: 2.4px solid #ccc;
  font-family: 'Montserrat',sans-serif;
}

.co-logo { color: #a79830; }

.logo-comp h3 {
  color: #b9b9b9;
  font-weight: bold;
  padding-left: 10px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  font-family: 'Heebo', sans-serif;
}

.search {
  padding: 0;
  display: inherit;
  justify-content: flex-end;
}

.search input {
  width: 240px;
  height: 40px;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  line-height: 1.2rem;
  border: 1px solid #D8D8D8;
  font-family: Georgia,Times,"Times New Roman",serif;
}

::placeholder { color: #ccc; }

.search button {
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #DE2229;
  font-weight: bold;
}

.search-icon { display: none; }

/*************************************
*         Main Section styles
**************************************/
main.grid {
  display: flex;
  margin-top: 0;
  max-width: 100%;
  padding-top: 130px;
  position: relative;
  padding-bottom: 30px;
  align-items: flex-end;
  flex-direction: column;
  background-color: #f9f9f4;
}

.nav-images {
  z-index: 2;
  display: flex;;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  margin-bottom: -.6rem;
  justify-content: space-between;
}

.nav-images a { text-align: center; }

.nav-images span { display: none; }

.science, .humanities,
.arts, .resources {
  width: 25%;
}

.science img { width: 190px; }

.humanities img { width: 140px; }

.arts img { width: 150px; }

.resources img { width: 180px; }

.article-columns {
  padding: 0;
  display: flex;
  position: relative;
}

.article-column {
  padding-top: 1rem;
  background: #333;
  background: #fff;
  margin-bottom: 1.6rem;
  position: relative;
  text-align: left;
}

.article-column .column-item {  margin: 0 .425rem; }

.article-column .block-item img { object-fit: cover; }

.article-columns .section-title {
  line-height: 1;
  padding-top: 0;
  font-size: 1rem;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
  text-transform: none;
  color: var(--black-color);
}

.article-column .section-title a {
  color: var(--black-color);
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
}

.block-list {
  min-height: 1px;
  margin-bottom: .1rem;
  border-bottom: 1px solid #E9E9E9;
}

.article-column .block-list:last-of-type {
  border: none;
  margin-bottom: 2rem;
}

.block-item img { height: 167px; }

.block-content {
  padding: .8rem 0 1.2rem;
  text-align: left;
}

.block-kicker {
    margin: 0;
    font: 900 .8125rem Lato,HelveticaNeueBold,HelveticaNeue-Bold,
          "Helvetica Neue Bold",HelveticaBold,Helvetica-Bold,"Helvetica Bold",
          HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #CCC;
    text-transform: capitalize;
    letter-spacing: .2px;
}

.block-title, .first-block-title {
  line-height: 1.2em;
  font-weight: 900;
}

.block-title span:hover,
.first-block-title span:hover {
  color: #DE2229;
}

.block-title { font-size: 1.0625rem; }

.first-block-title { font-size: 1.246rem;}

.column-btn {
  left: 1rem;
  right: 1rem;
  flex-grow:1;
  bottom: .1rem;
  display: flex;
  font-weight: 900;
  position: absolute;
  padding-top: .5rem;
  letter-spacing:.2px;
  font-size: .8125rem;
  padding-bottom:.2rem;
  color: var(--black-color);
  text-transform: uppercase;
  border-top: 1px solid #E9E9E9;
}

.column-btn:hover { color: #DE2229; }

.column-btn i {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
  margin-left: .5rem;
  color: #DE2229;
}

.editors-pick {
  padding: 1rem 1.7rem 4em;
}

.edt-pick-title { font-size: 1.5rem; }

.edt-block {
  display: flex;
  padding-bottom: 2rem;
  justify-content: flex-start;
}

.edt-media {
  background-image: url("../images/emergingadulthood.jpg");
  height: 300px;
  max-width: 300px;
  min-width: 300px;
  border-radius: 50%;
  padding-bottom: 2rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.edt-block-title {
  font-size: 2.6rem;
  text-align: left;
  font-weight: 900;
  padding-top: 3rem;
  line-height: 1.1em;
}

.edt-block-title:hover,
.block-title:hover {
  color: #DE2229;
}

.block-exceprt {
  text-align: left;
  color: #828282;
  font-weight: 400;
  font-style: italic;
  margin-top: .6rem;
  display: block;
  font-size: 1.25rem;
}

.editors-pick .block-content {
  padding: 0;
  border-bottom: 1px solid #ccc;
}

.block-content .block-title {
  font-size: 1rem;
}

/*************************************
*        Footer Sytles
**************************************/
footer.grid  {
  color: #fff;
  display: flex;
  max-width: 100%;
  background: #333;
  flex-direction: column;
  padding-left: calc(50% - 37rem);
  padding-right: calc(50% - 37rem);
  padding-bottom: 2rem;
  margin-bottom: 6rem;
}

.logo {
  margin-left: 0;
  display: inherit;
  text-align: left;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: flex-start;
}

.logo h2 { font-size: 40px; }

footer [class*='grid-item'] { text-align: left;}

.footer-social-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-social { flex-direction: column; }

.footer-links {
  display: flex;
  font-weight: 900;
  padding-left: 1rem;
  padding-top: .425rem;
  line-height: 1.25rem;
}

.footer-links .footer-link-item {
  width: auto;
  margin: 0 .2rem;
  padding-bottom: 1rem;
}

.footer-link-item:hover { color: #a79830; }

.footer-more-links {
  display: flex;
  justify-content: space-between;
}

.ft-mlnk-item {
  display: block;
  line-height: 1;
  font-size: .875rem;
  font-weight: 700;
  padding: .625rem 0;
}

.newsletter {
  width: 100%;
  display: inherit;
  flex-direction: column;
}

.newsletter label {
  font-weight: 900;
  font-size: 1.125rem;
  line-height: 1.3rem;
  margin-bottom: .625rem;
}

.newsletter input {
  flex: 1;
  height: 42px;
  width: 100%;
}

.newsletter button {
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  padding-left: 1rem;
  padding-right: 1rem;
  background: #DE2229;
  text-transform: uppercase;
}

.social-block-bottom {
  display: inherit;
  align-items: center;
  margin-top: 1.25rem;
  justify-content: space-between;
}

.social-block {
  margin: 0;
  padding: 0;
}

.social-follow-title {
  font-size: 1.125rem;
  line-height: 1.3rem;
  font-weight: 900;
  color: #fff;
  margin-bottom: .625rem;
}

.social-follow-list {
  display: inherit;
  list-style: none;
  flex-direction: column;
}

.social-follow-list li {
  display: inline-block;
}

.social-follow-list li img {
  width: 36px;
}


/*************************************
*          Media Queries styles
**************************************/
@media (max-width: 1200px) and (min-width: 1040px) {
  .article-column .block-list img {
    height: 14vw;
  }
}

@media (min-width: 1126px) {
  header.grid {
    height: 98px;
    border-top-width: 9px;
  }

  header.grid,
  main.grid  {
    padding-left: calc(50% - 37.5rem);
    padding-right: calc(50% - 37.5rem);
  }
}

@media (max-width: 1125px) {

  header.grid {
    height: 98px;
    border-top-width: 9px;
  }

  header.grid,
  main.grid  {
    padding-left: inherit;
  }

  .edt-media {
    height: 200px;
    max-width: 200px;
    min-width: 200px;
  }

}

@media (max-width: 1024px) {
  .logo-comp h3 {
    font-size: 16px;
  }

  .nav-images span {
    color: var(--black-color);
    display: block;
    font-weight: 900;
    font-size: .8125rem;
    letter-spacing:.02rem;
  }

  .nav-images {
    margin-bottom: 1rem;
  }

  .article-columns {
    display: block;
  }

  .edt-content,
  .edt-block {
    margin: 0;
    padding: 0;
  }

  .edt-block-title {
    font-size: 1.625rem;
  }

  .block-exceprt {
    font-size: 1rem;
  }

}

@media (max-width: 980px) {

  header.grid {
    height: 78px;
    padding-left: 1.2rem;
    border-top-width: 8px;
  }

  .search {
    display: none;
  }

  .search-icon {
    display: flex;
    float: right;
    justify-content: flex-end;
  }

  .search-icon i {
    color: #de2229;
    font-size: 1.4em;
    margin-right: 10px;
    margin-top: 10px;;
    display: flex;
    justify-content: flex-end;
  }

  .logo-comp h2 {
    font-size: 38px;
  }

  .logo-comp h3 {
    padding-left: 12px;
    font-size: 15px;
  }

  .article-column .block-list img {
    height: 27vw;
  }

  .nav-images .grid-item-3 {
    width: 20%;
  }

  .edt-content {
    min-width: 65%;
  }

}

@media (max-width: 768px) {
  .logo-comp h3 {
    padding-left: 6px;
    font-size: 13.7px;
  }

  .science, .humanities,
  .arts, .resources {
    width: 50%;
  }

  .nav-images .grid-item-3 {
    width: calc(50% - 20px);
  }

  main.grid {
    padding-top: 70px;
  }

  .search-icon {
    padding: 0;
    margin: 0;
    width: auto;
  }

  .article-column {
    width: 100%;
  }

  .article-column .block-list img, {
    width: 100%;
    height: auto;
  }

  .social-block-links {
    width: 100%;
    justify-content: space-between;
  }

  .article-column .block-list img {
    width: 100%;
    height: auto;
  }

  .footer-social-wrapper {
    flex-direction: column;
  }

}

@media (max-width: 600px) {

  .logo-comp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: inherit;
  }

  .logo-comp h2 {
    margin: 0;
    font-size: 20px;
    border-right: none;
    padding-right: 0;
  }

  .logo-comp h3 {
    padding-left: 0;
    font-size: 8.5px;
  }

  .article-column .block-list img {
    width: 100%;
    height: auto;
  }

  .edt-block {
    flex-direction: column;
    justify-content: center;
  }

}
