:root {
  --gold-color: #a79830;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*****************************************
           HEADE STYLES
*******************************************/

header {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #E9E9E9;
  background-color: #fff;
}

.fas {
  line-height: 1.5 !important;
  font-size: 1.4em;
}

.menu {
  margin-left: 3em;
  margin-right: 1em;
}

.menu a {
  text-decoration: none;
  color: var(--gold-color);
}

.menu, .logo, .slogan {
  float: left;
}

.logo {
  padding-right: 1em;
  margin-right: 1em;
  border-right: 2px solid #ccc !important;
}

.logo span:first-of-type {
  line-height: 30px;
  font-size: 40px;
  font-weight:bolder;
  font-family: 'Montserrat', sans-serif;
}

.logo-co {
  color: var(--gold-color);
}

.slogan span  {
  color:#b2b1b3;
  font-size: 16px;
  font-weight: 900;
  line-height: 35px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

.h-search input {
  height: 40px;
  outline: none;
  padding: 0 80px 0 10px;
  border: 1px solid #d6d7d3;
}

::placeholder { color: #CCC; }

.search-text {
  font-size: 15px;
  font-family: Georgia,Times,"Times New Roman",serif
}

.btn-go {
  border: none;
  cursor: pointer;
  margin-left: -5px;
  padding: 13px 18px;
  background: #DE2229;
}

.btn-text {
  color: #fff;
  font-size: 14px;
  font-weight: 900;
}

/*****************************************
           MAIN STYLES
*******************************************/

main {
  background-color: #F9F9F4;
  height: 100vh;
}

[class*='grid-item'] {
  padding: 4px 10px;
  border: none;

}
