/**************************************************
 *                   General styles               *
***************************************************/

* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  overflow: initial;
  box-sizing: border-box;
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

ul li {
  float: left;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h2 a {
  color: #f42;
  font-size: 28px;
  font-weight: 800;
  text-decoration: none;
  letter-spacing: -.015em;
}


/**************************************************
 *                 Top menu styles                *
 **************************************************/
nav {
  left: 0;
  right: 0;
  height: 80px;
  position: fixed;
  z-index: 20;
  box-shadow: 0 0 32px rgba(0, 0, 0, .15);
}

#tnw-logo {
  top: 0;
  left: 0;
  z-index: 1;
  width: 106px;
  height: 80px;
  display: none;
  line-height: 80px;
  text-align: center;
  position: absolute;
  background-color: #f42;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
}

#tnw-logo a {
  color: #fff;
  font-weight: 600;
  font-size: 35px;
}

#nav-tnw {
  font-size: 13px;
  max-height: 32px;
  overflow: hidden;
  font-weight: 500;
  line-height: 32px;
  position: relative;
  background: #131313;
}

#nav-tnw li:first-child {
  margin-left: 20px;
}

#nav-tnw li {
  color: #aaa;
  margin-right: 12px;
  background: #131313;
}

.nav-tnw-right {
  float: right;
}

/**************************************************
 *                Nav Sections styles             *
 **************************************************/
#sections-container {
  height: 48px;
  width: 100%;
  background: #fff;
  position: relative;
}

#nav-tnw-sections {
  line-height: 48px;
  text-transform: uppercase;
  position: fixed;
  z-index: 1;
}

#nav-tnw-sections li a {
  color: #aaa;
  margin-left: 20px;
  font-family: 'Quantico', sans-serif;
}

/**************************************************
 *            Nav Follow Icons styles             *
 **************************************************/

#nav-tnw-follows li a,
#nav-tnw-icons li a {
  color: #aaa;
}

#nav-tnw-icons {
  float: right;
  line-height: 48px;
  border-left: 1px solid #aaa;
}

#nav-tnw-icons li {
  float: left;
  position: relative;
}

#nav-tnw-icons li:nth-child(2) {
  display: none;
}

#nav-tnw-icons li:nth-child(2) i {
  color: orange;
}

#nav-tnw-icons li > a {
  padding: 16px;
}

#nav-tnw-icons i,
#nav-tnw-follows i {
  font-size: 16px;
}

#nav-tnw-follows {
  float: right;
  width: 136px;
  line-height: 40px;
  padding: 3px 0 0 8px;
  position: relative;
  background-color: #fff;
  z-index: 2;
}

#nav-tnw-follows li {
  margin-top: 2px;
  margin-left: 13px;
}

.nav-message {
  left: 0;
  right: 0;
  top: 48px;
  height: 30px;
  font-size: 13px;
  background: #fd3;
  line-height: 30px;
  position: absolute;
}

.nav-message a {
  color: #000;
  margin-left: 20px;
}

@media (max-width: 1023px) {
  #tnw-logo {
    display: inline-block;
  }

  #nav-tnw {
    margin-left: 106px;
  }

  #nav-tnw-sections {
    padding-left: 106px;
  }

}

@media (max-width: 768px) {

  nav, #tnw-logo {
    height: 48px;
  }

  #tnw-logo {
    line-height: 48px;
  }

  #nav-tnw, #nav-tnw-sections,
  #nav-tnw-follows {
    display: none;
  }

  #nav-tnw-icons li:nth-child(2) {
    border-left: 1px solid #aaa;
    display: inline-block;
  }

  .nav-message {
    top: 48px;
  }
}

nav:after {
  content: "";
  display: inline-block;
  clear: both;
}

/**************************************************
 *            Highlits Stories styles             *
 **************************************************/
#main {
  top: 104px;
  z-index: 2;
  position: relative;
  box-sizing: border-box;
}

.grid-3 {
  height: 75vh;
  padding: 4px;
  max-height: 560px;
  position: relative;
}

.cover-story {
  padding: 4px;
  float: left;
  overflow: hidden;
  position: relative;
}

.grid-3 article:first-child {
  float: left;
  height: 100%;
  width: 66.66666%;
}

.grid-3 article:nth-child(2),
.grid-3 article:last-of-type {
  float: left;
  height: 50%;
  width: 33.33333%;
}

.cover-image {
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  position: absolute;
  background-position: 50%;
}

#cover-time {
  top: 16px;
  color: #fff;
  z-index: 6;
  right: 24px;
  position: absolute;
}

.cover-logo {
  top: 24px;
  left: 24px;
  z-index: 6;
  right: 24px;
  height: 100%;
  max-width: 50%;
  max-height: 112px;
  text-align: right;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg");
}

.grid-3 article:nth-child(1n+1) .cover-image {
  z-index: 2;
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-3 article:first-child .cover-image {
  background-image: linear-gradient(to bottom right, rgba(255, 68, 34, 1), rgba(0,0,0, 0.70), rgba(0,0,0, 10)),
        url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/07/stars-796x419.jpg");
}

 .grid-3 article:nth-child(2) .cover-image {
   background-image: linear-gradient(to bottom ,rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7), rgba(0,0,0, 10)),
                     url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2018/06/Fortnite-eShop-796x416.jpg");
}

.grid-3 article:nth-child(3) .cover-image {
  background-image: linear-gradient(to bottom ,rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7), rgba(0,0,0, 10)),
                    url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/07/Twitter-Arrow-796x398.jpg");
}

/**************************************************
 *               Main article styles              *
 **************************************************/
 .cover-header h5 {
   font-size: 14px;
   letter-spacing: .04em;
   text-transform: uppercase;
 }

.grid-3 article:first-child h5 {
  margin-left: 5px;
}

.grid-3 article:first-child h2 {
  font-size: 42px;
  line-height: 1;
  padding-bottom: 10px;
}

/**************************************************
 *              Others article styles             *
 **************************************************/
.grid-3 article a {
  text-decoration: none;
}

.cover-section, .cover-title {
  color: #fff;
}

.cover-header {
  left: 4px;
  right: 4px;
  bottom: 4px;
  z-index: 5;
  padding: 14px 12px;
  position: absolute;
}

.cover-section {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: .04em;
  font-family: 'Quantico', sans-serif;
}

.cover-title {
  font-size: 24px;
  font-weight: 800;
  line-height: 1.2;
  font-family: 'Avalon', sans-serif;
}

.cover-header-bottom {
  margin-top: 5px;
  z-index: 12px;
  cursor: default;
  position: relative;
}

.cover-header-bottom li {
  float: left;
  margin-right: 8px;
  cursor: default;
  padding-bottom: 5px;
}

.grid-3 article:first-child .cover-header-bottom li {
  padding-bottom: 10px;
}

.cover-header-bottom li,
.cover-header-bottom li a {
  color: #ccc;
  font-size: 12px;
  margin-left: 1px;
}

.cover-header-bottom li a:hover {
  cursor: pointer;
  color: #fff;
}

@media only screen and (max-width: 1351px) {
  .grid-3 {
    height: 65vh;
    padding: 4px;
  }
}

@media only screen and (max-width: 1024px) {

  .grid-3 {
    padding: 4px;
    height: 60vh;
    max-height: 350px;
    padding: 6px 12px;
  }

  .grid-3 article:first-child h2 {
    font-size: 38px;
    padding-bottom: 5px;
  }

  .grid-3 article:nth-child(1n+2) h2 {
    font-size: 20px;
  }

  .grid-3 article:first-child .cover-header-bottom li {
    padding-bottom: 5px;
  }

}

@media (max-width: 1023px) and (min-width: 768px) {
  .cover-logo, #cover-time {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  .grid-3 article:nth-child(1n+1) h2 {
    font-size: 20px;
  }

  .cover-logo, #cover-time {
    display: none;
  }

  .nav-message { display: none; }

  #main { top: 45px; }


  .grid-3 article:nth-child(1n+1) {
    width: 100%;
    height: 30vh;
    min-height: 18vh;
    position: relative;
  }

  .cover-image {
    background-position-y: 3%;
  }

  .grid-3 article:first-child .cover-image {
    background-position-y: 79%;
  }

}

@media only screen and (max-width: 500px) {
  .grid-3 article:nth-child(1n+1) h2 {
    font-size: 18px;
  }
}

/**************************************************
*                Latest News styles              *
**************************************************/
.wrapper-latest-news {
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 4%;
  padding-right: 6%;
}

.latest-news h2 {
  padding-left: 1%;
}

.row-stories {
  list-style: none;
}

.row-stories li {
  float: left;
  padding: 12px;
  display: block;
}

.ul-col-25 {
  width: 25%;
  height: 25%;
}

.story-image {
  display: block;
  padding-top: 50%;
  position: relative;
  margin-bottom: 8px;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.story-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 1px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.story-by {
  color: #aaa;
  font-size: 12px;
  overflow: hidden;
  list-style: none;
  padding-top: 4px;
  line-height: 18px;
}

.story-by li {
  margin: 0;
  padding: 0;
  float: left;
  display: block;
}

.story-by li::after {
  content: "\B7";
  display: block;
  float: right;
  margin: 0 4px;
}

.story-by li a {
  color: #aaa;
}

.story-by li a:hover {
  color: #333;
}

@media only screen and (max-width: 768px) {
  .row-stories li {
    width: auto;
  }

  .story {
    min-height: 72px;
    padding-left: 88px;
    position: relative;
  }

  .story-image {
    left: 0;
    top: 0;
    width: 75px;
    max-height: 72px;
    position: absolute;
    padding-top: 75px;
  }

}
.wrapper-latest-news::after {
  content: "";
  display: table;
  clear: both;
}


/**************************************************
 *                   Footer styles                *
 **************************************************/
.footer {
   top: 130px;
   height: auto;
   position: relative;
   margin-bottom: 5px;
   background-color: #131313;
   text-align: center;
}

.footer-links {
  height: auto;
  padding: 2.5em 0;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1192px;
  text-align: center;
}

.container ul li {
  float: none;
  display: inline-block;
}

.footer-links-social,
.footer-links-menu {
  height: auto;
   margin-bottom: 1.5em;
}

.footer-links-social li a .fab,
.footer-links-social li a .fas,
.footer-links-menu li a {
   color: #fff;
   text-decoration: none;
}

.footer-links-social li a {
  width: 40px;
  height: 40px;
  padding: 12px;
  margin: 0 4px;
  display: block;
  background: #333;
  border-radius: 50%;
  text-align: center;
}

.footer-links-social a:hover {
   background: #222;
}

.footer-links-menu li {
  margin: 0 4px;
}

.footer-links-menu li a {
  color: #999;
  font-size: 13px;
  text-transform: uppercase;
  font-family: 'Quantico', sans-serif;
}

.footer-links-menu li a:hover {
  color: #fff;
}

.container::after {
   content: "";
   display: table;
   clear: both;
}

.footer-legal .container {
  margin-top: -5px;
}

.footer-legal {
  color: #aaa;
  height: auto;
  padding: 3em 0;
  background: #000;
  margin-bottom: 1.2em;
}

.footer-legal img {
  height: 9px;
}

.footer-legal span {
  display: inline;
}
