/**************************************************
 *                   General styles               *
***************************************************/

* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 14px;
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

ul li {
  float: left;
  list-style-type: none;
}

a {
  text-decoration: none;
}

/**************************************************
 *                 Top menu styles                *
 **************************************************/
nav {
  height: 80px;
  width: 100%;
  position: fixed;
  box-shadow: 0 0 32px rgba(0, 0, 0, .15);
}

#tnw-logo {
  top: 0;
  left: 0;
  width: 106px;
  height: 80px;
  display: none;
  line-height: 80px;
  text-align: center;
  position: absolute;
  background-color: #f42;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
}

#tnw-logo a {
  color: #fff;
  font-weight: 600;
  font-size: 35px;
}

#nav-tnw {
  z-index: 2;
  font-size: 13px;
  max-height: 32px;
  overflow: hidden;
  font-weight: 500;
  line-height: 32px;
  position: relative;
  background: #131313;
}

#nav-tnw li:first-child {
  margin-left: 20px;
}

#nav-tnw li {
  color: #aaa;
  margin-right: 12px;
  background: #131313;
}

.nav-tnw-right {
  float: right;
}

/**************************************************
 *                Nav Sections styles             *
 **************************************************/
#sections-container {
  height: 48px;
  width: 100%;
  position: absolute;
}

#nav-tnw-sections {
  line-height: 48px;
  position: absolute;
  text-transform: uppercase;
}

#nav-tnw-sections li a {
  color: #aaa;
  margin-left: 20px;
  font-family: 'Quantico', sans-serif;
}

/**************************************************
 *            Nav Follow Icons styles             *
 **************************************************/

#nav-tnw-follows li a,
#nav-tnw-icons li a {
  color: #aaa;
}

#nav-tnw-icons {
  float: right;
  line-height: 48px;
  border-left: 1px solid #aaa;
}

#nav-tnw-icons li {
  float: left;
  position: relative;
}

#nav-tnw-icons li:nth-child(2) {
  display: none;
}

#nav-tnw-icons li:nth-child(2) i {
  color: orange;
}

#nav-tnw-icons li > a {
  padding: 16px;
}

#nav-tnw-icons i,
#nav-tnw-follows i {
  font-size: 16px;
}

#nav-tnw-follows {
  float: right;
  width: 136px;
  z-index: 2;
  line-height: 48px;
  padding: 0 0 0 8px;
  position: relative;
  background-color: #fff;
}

#nav-tnw-follows li {
  margin-top: 2px;
  margin-left: 13px;
}

@media (max-width: 1023px) {
  #tnw-logo {
    display: inline-block;
  }

  #nav-tnw {
    margin-left: 106px;
  }

  #nav-tnw-sections {
    padding-left: 106px;
  }

}

@media (max-width: 768px) {

  nav, #tnw-logo {
    height: 48px;
  }

  #tnw-logo {
    line-height: 48px;
  }

  #nav-tnw, #nav-tnw-sections,
  #nav-tnw-follows {
    display: none;
  }

  #nav-tnw-icons li:nth-child(2) {
    border-left: 1px solid #aaa;
    display: inline-block;
  }
}
