* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: ARS Maquette,Helvetica Neue,Arial,sans-serif;
}

/* NavBar Styles */
#nav {
  height: 80px;
  width: 100%;
  font-size: 14px;
  position: absolute;
  box-shadow: 0 0 32px rgba(0, 0, 0, 0.15);
}

#nav > ul {
  color: #fff;
  height: 32px;
  position: relative;
  background: #131313;
  list-style-type: none;
}

#nav > ul > li {
  float: left;
  margin-left: 12px;
  line-height: 32px;
}

#nav .nav-menu-right {
  float: right;
  margin-left: 0;
  margin-right: 12px;
}

@media screen and (min-width: 1024px) {
  #tnw-logo > span {
    display: none;
  }
}

@media (max-width: 768px) {
  #nav > ul {
    display: none;
  }
}

@media (max-width: 1023px) {

  #nav {
    padding-left: 106px;
    width: calc(100% - 106px);
  }

  #tnw-logo {
    left: 0;
    top: 0;
    z-index: 2;
    width: 106px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    position: absolute;
    background-color: red;
  }

  #nav-search-icon {
    margin-right: 100px;
  }

}

#sections-container {
  height: 48px;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #eee;
}

#nav-sections {
  color: #aaa;
  font-weight: 500;
  padding: 0 10px 0;
  display: inline-block;
  text-transform: uppercase;
}

#nav-sections > li {
  float: left;
  margin-right: 12px;
  line-height: 48px;
  font-family: 'Quantico', sans-serif;
}

@media screen and (min-width: 768px) {
  #nav-follow {
    float: right;
    display: block;
    position: relative;
    min-width: 136px;
  }
}

#nav-follow > li {
  float: left;
  width: 32px;
  line-height: 50px;
}

#nav-follow i,
#nav-search-icon i {
  color: #aaa;
  font-size: 1.2em;
}

#nav-follow i:hover {
  color: #848383;
}

#nav-search-icon {
  float: right;
  height: 48px;
  padding: 0 18px;
  line-height: 48px;
  position: relative;
  border-left: 1px solid #efeeee;
}

#nav-search-icon li {
  min-width: 10px;
}
