@import "bootstrap-sprockets";
@import "bootstrap";

/*===========
  Search box
============*/

.search_btn  {
  margin-top:  20px;
}

select {
  margin-bottom: 10px;
}

h1, h2 {
  text-align: center;
}

/*=================
 Table Flights
===================*/

.table > thead > tr > th, .table > tbody > tr > td {
  text-align: center;
}

/*================
  booking
=================*/
.book_btn {
  margin-top: -20px;
}

.passenger_box  {
  // padding-top: 30px;
  padding-bottom: 50px;
}

.control-label {
    margin-left: -15px;
    margin-top :5px;
}
