/******** General Styles *********/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1f4f7;
}

.container {
    width: 90%;
    display: flex;
    margin: 0 auto;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
}

/******* App Header Styles ******/

.app-header {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.app-header h2 {
    margin: 10px 5px;
}

.app-header span {
    color: #2874A6;
}

/******* Project Form Styles ******/

.project-form {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.project-form input[type="text"] {
    padding: 10px;
    font-size: 20px;
    margin-bottom: 10px;
}

.project-form button {
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: #1A5276;
}

/******* Projects List Styles ******/

.projects {
    width: 90%;
    display: flex;
    padding: 10px 2px;
    flex-direction: column;
}

.project {
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
    background-color: #212F3D;
    box-shadow: 0px 4px 9px #000;
    padding: 6px 6px 10px 6px;
    border-radius: 4px;
}

.project-header {
    color: #fff;
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.project h3 {
    margin: 0
}

.bt {
    color: #fff;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.bt-add {
    width: 80px;
}

.bt-add:hover {
    color: #1A5276;
}

.bt-remove {
    width: 25px;
}

.bt-remove:hover {
    color: #971919;
}

.bt-wrapper {
    width: 102px;
    display: flex;
    text-align: center;
    justify-content: space-between
}

/******* Tasks List Styles ******/

.tasks {
    display: flex;
    padding: 0 5px ;
    overflow: auto;        
    max-height: 195px;
    flex-direction: column;
}

.task {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 10px 8px 5px 10px;
    box-shadow: 1px 2px 4px #000;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.task-header h4 {
    margin: 0
}

.task-header .bt-task {
    text-align: right;
}

.task-content {
    min-height: 80px;
    text-align: justify;
    overflow: auto;
    padding: 10px 5px;
}

.task-content p {
    margin: 0;
}

.task-footer {
    display: flex;
    padding: 5px;
    justify-content: space-between;
}

.bold-label {
    font-weight: 600;
}

.bt-task {
    cursor: pointer;
    font-size: 16px;
}

.task-done {
    color: #ccc;
    text-decoration: line-through
}

  /*************************************
  *          ScrollBar Styles          *
  **************************************/
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #212F3D;
  }

  ::-webkit-scrollbar-thumb {
    background: #85929E;
  }
