.modal {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  visibility: hidden;
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.5);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  top: 50%;
  left: 50%;
  width: 40.1rem;
  height: 410px;
  position: absolute;
  padding: 3rem 1.5rem;
  border-radius: 0.5rem;
  background-color: white;
  transform: translate(-50%, -50%);
}

.modal-header {
  top: 0;
  left: 0;
  display: flex;
  color: #fff;
  padding: 15px;
  width: 41.2rem;
  position: absolute;
  background: #154360;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  justify-content: space-between;
}

.modal-header .title {
  font-size: 24px;
  font-weight: 600;
}

.close-button {
  width: 1.5rem;
  color: #000;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 1.5rem;
  border-radius: 0.25rem;
  background-color: #fff;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.fields-wrapper {
  top: 10%;
  left: 3%;
  right: 3%;
  display: flex;
  padding: 15px 10px;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}

.fields-wrapper .row {
  display: flex;
  flex-direction: column;
}

.form-field {
  padding: 10px;
  margin: 5px 0;
}

textarea, select {
  margin: 4px 0;
}

label {
  margin: 1px;
  font-size: 18px;
  font-weight: 600;
}

select {
  background: #fff;
}

input, select, textarea {
  font-size: 18px;
  border: 1px solid #ccc;
}

input::placeholder {
  color: #ccc;
}

.modal .buttons {  
  padding: 15px 0;
  flex-direction: row !important;
  justify-content: space-between !important;
}

.modal input[type="button"] {
  cursor: pointer;
  width: 48%;
  border: none;
  color: #fff;
  padding: 15px;
}

.modal .buttons input[type="button"]:first-child {
  background-color: #AF0606;
}

.modal .buttons input[type="button"]:last-child {
  background-color: #0077B5;
}