.foods,
.drinks {
  width: 80%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 2rem;
  border-top: 1px solid #ccc;
  justify-content: space-around;
}

.foods img,
.drinks img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.section-title {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  flex-direction: column;
  justify-content: center;
}

.food-details,
.drink-details {
  cursor: pointer;
  padding-top: 1rem;
  padding-bottom: .2rem;
}

.food-details img:hover,
.drink-details img:hover{
  transform:scale(1.2);
}

.food-details h2,
.drink-details h2 {
  padding-bottom: 1rem;
}

#sec-menu {
  display: block;
}
