@import url('https://fonts.googleapis.com/css?family=Kanit');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=ABeeZee');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body { background-color: #f7f4f4; }

#content {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

#banner {
  background-image: url('../images/beef_food.jpeg');
  margin: 0;
  padding: 0;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centralize {
  display: flex;
  align-items: center;
  justify-content: center;
}

#banner .header {
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  text-shadow: 1px 2px #333;
  font-family: 'Kanit', sans-serif;
}

.menu {
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #660408;
}

.menu-item {
  height: 50px;
  display: flex;
  font-size: 30px;
  cursor: pointer;
  font-weight: 600;
  line-height: 50px;
  align-items: center;
  width: calc(100% / 3);
  justify-content: center;
  font-family: verdana, sans-serif;
}

.menu-item a { color: #fff; }

.activate { background-color: #ac1010; }

.headline {
  display: flex;
  font-size: 20px;
  padding-top: 2rem;
  align-items: flex-start;
  justify-content: center;
  font-family: sans-serif;
}

.service-type {
  width: calc(60% / 3);
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
}

.service-type h2 {
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Pacifico', cursive;
}

.service-type p {
  text-align: justify;
  font-family: 'ABeeZee', sans-serif;
}
