/*************************************
*           General Styles           *
**************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  .container {
    width: 90%;
    height: 100%;
    padding: 10px;
    min-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  /*************************************
  *            Header Styles           *
  **************************************/
  .header {
    width: 100%;
    display: flex;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
  }

  .header span { color: #2874A6; }

  /*************************************
  *        Form Project Styles         *
  **************************************/
  .proj-form {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    flex-direction: column;
  }

  #proj-txt-name {
    font-size: 20px;
    margin-bottom: 10px;
  }

  #proj-txt-name::placeholder { color: #ccc; }

  .form-field {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #AEB6BF;
  }

  .bt {
    border: none;
    padding: 10px;
    border-radius: 3px;
  }

  #bt-add-prj {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #1A5276;
  }

  /*************************************
  *        Projects List Styles        *
  **************************************/
  .projects {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    grid-gap: 1.5rem 2rem;
    padding: 10px 2px 20px 2px;
    justify-content: space-between;    
  }

  .project {
    color: #fff;
    height: 80px;
    width: 49%;
    min-height: 80px;  
    border-radius: 4px;
    margin-bottom: 20px;
    flex-direction: column;
    padding: 8px 3px 8px 8px;
    background-color: #212F3D;
    box-shadow: 3px 4px 9px #000;
    justify-content: space-between;
  }

  .project-header {
    display: flex;
    align-items: center;
    padding-right: 5px;
    padding-bottom: 10px;
    justify-content: space-between;
  }

  .remove-project {
    color: #333;
    width: 22px;
    height: 22px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 800;
    line-height: 18px;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
  }

  /*************************************
  *             Tasks Styles           *
  **************************************/
  .tasks {
    overflow-y: auto;
    max-height: 240px;
    overflow-x: hidden;
    padding: 0px 6px 0px 2px;
  }

  .task-item {
    color: #000;
    height: 38px;
    display: flex;
    padding: 10px 8px;
    border-radius: 3px;
    flex-direction: column;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 1px 2px 4px #000;
  }

  .task-header {
    display: flex;
    padding-right: 2px;
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .t-header-buttons {
    display: flex;
    width: 110px;
    justify-content: space-between;
  }

  .t-header-buttons span {
    color: #2E4053;
    font-weight: 600;
  }

  .lk-remove:hover,
  .lk-details:hover {
    color: #1C2833;
    cursor: pointer;
  }

  .task-content {
    display: none;
    height: 75px;
    max-height: 75px;
    overflow-y: auto;
    padding-left: 1px;
    padding-right: 5px;
    overflow-x: hidden;
    text-align: justify;
    margin-bottom: 10px;
  }

  .task-footer {
    display: none;
    justify-content: space-between;
  }

  .task-footer .l-bold {
    font-weight: 600;
  }

  /*************************************
  *        Project Footer Styles       *
  **************************************/
  .project-footer {
    padding: 10px 2px 8px 2px;
  }

  .project-footer .newtask {
    color: #fff;
    font-size: 16px;
  }

  .project-footer .newtask:hover {
    cursor: pointer;
  }

  /*************************************
  *          ScrollBar Styles          *
  **************************************/
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #212F3D;
  }

  ::-webkit-scrollbar-thumb {
    background: #85929E;
  }

  /*************************************
  *         Media Queries Styles       *
  **************************************/
  @media (max-width: 970px) {
    .projects {
      width: 90%;      
    }

    .proj-form {
      width: 90%;
    }

  }

  @media (max-width: 768px) {
    .projects {
      width: 90%;
    }
  }
