.main-content {
  width: 100%;
  padding: 20px;
  background-color: #f0f8ff;
}

/**************************
 Todo Styles
***************************/
.todo-container {
  display: flex;
  flex-direction: column;
}

.todo-title {
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
}

.todo-title div:first-child {
  width: 99%;
}

.todo-title div:last-child {
  border: 1px solid;
  margin-bottom: 5px;
  background-color: #f0f8ff;
}

.todo-title div:last-child:hover {
  border: 1px solid #0671f0;
  background-color: #0671f0;
}

.todo-title h1 {
  padding-bottom: 0;
  margin-bottom: .5rem;
}

/***********************
Todo Details Styles
************************/
#todo-details {
  display: flex;
}

#tasks {
  padding: 0;
  width: 100%;
}

#tasks li {
  font-size: 20px;
  font-weight: 500;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  margin-bottom: 8px;
  padding-bottom: 15px;
  background-color: #deedfb;
}

.task-title {
  display: flex;
  justify-content: space-between;
}

.task-title a {
  text-decoration: none;
}

.task-title h2 {
  padding: 0;
  margin: 0;
  font-size: 25px;
  color:#6092dd;
}

.task-details {
  padding: 5px;
  height: 200px;
  max-height: 200px;
  border: 1px solid #ccc;
  /* display: flex; */
  /* flex-direction: column; */
  display: none;
}

.task-details-footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.desc {
  margin-bottom: 4rem;
}
