.side-bar {
  color: #fff;
  width: 290px;
  height: 100%;
  display: flex;
  flex: 0 0 auto;
  min-width: 290px;
  min-height: 600px;
  flex-direction: column;
  background-color: #0f3794;
}

#side-bar-title {
  display: flex;
  height: 60px;
  min-height: 60px;
  align-items: center;
  justify-content: center;
  background-color: #25458e;
}

/********************
  Todo List styles
*********************/
.main {
  height: 100%;
  overflow:auto;
  display: flex;
  justify-content: center;
}

.lst-todos {
  padding: 0;
  width: 100%;
}

.lst-todos li {
  padding: 20px;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
}

.lst-todos li:hover {
  cursor: pointer;
  background-color: #3e5ea9;
}

/************************
  Side Bar Footer styles
*************************/
#side-bar-footer {
  height: 40px;
  display: flex;
  min-height: 40px;
  padding-left: 8px;
  padding-top: 15px;
  padding-right: 15px;
  align-items: center;
  padding-bottom: 15px;
  background-color: #25458e;
  justify-content: space-between;
}

#todo-name input {
  height: 32px;
  width: 220px;
  border: none;
  padding: 2px;
  font-size: 18px;
  border-radius:3%;
}

.lst-todos li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
