<div class="users-container">
  <div class="users-header">
    <h2>Friends</h2>
  </div>

  <% if @friends.empty? %>
    <div class="empty-list">
      <div class="no-friendship">
        No friends
      </div>
    </div>
  <% end %>

  <% @friends.each do |friend| %>

    <% if @user.has_friendship_with?(friend) %>
      <ul>
        <li>
          <div class="user-img">
            <%= link_to image_tag(friend.profile.picture.url(:lg_img)),
                profile_path(friend.id) %>
          </div>
          <div class="user-info">
            <div class="user-name">
              <%= link_to friend.fullname, profile_path(friend.id) %>
            </div>
            <div class="btn-friendship">
               <%= link_to "Unfriend", friendship_path(
                   @user.get_friendship_with(friend,true).id,
                   user: @user,origin: "friends_details"), method: :delete,
                   remote: true, class: "btn" %>
            </div>
          </div>
        </li>
      </ul>
  <% end %>
<% end %>
