<!-- Refactor this because it's similar to list all users. -->
<div class="main-container">
  <div> <%= render 'shared/side_bar' %> </div>

  <div class="users-container">
      <div class="users-header">
        <h2>Friends</h2>
      </div>
      <% if @friendships.any?{|f| f.accepted} %>
          <% @friendships.each do |friendship| %>
            <ul>
              <li>
                <div class="user-img">
                  <%= link_to image_tag(friendship.user.profile.picture.url(:lg_img)),
                      profile_path(friendship.id) %>
                </div>
                <div class="user-info">
                  <div class="user-name">
                    <%= link_to friendship.user.fullname,
                          profile_path(friendship.user.id) %>
                  </div>
                  <div class="btn-friendship">
                    <%= link_to "Unfriend", friendship_path(friendship),
                            method: :delete, class: "btn" %>
                </div>
                </div>
              </li>
            </ul>
          <% end %>
      <% else %>
        <div class="empty-list">
          <div class="no-friendship">
            No friends
          </div>
        </div>
      <% end %>
  </div>


</div>
