<%= render 'shared/header' %>
<div class="main-container">
  <%= render 'shared/side_bar' %>
  <div class="feeds-content">
    <div class="frm_post">
      <%= render 'posts/form' %>
      <%= render 'posts/show' %>
    </div>
  </div>
</div>
