<div class="main-container">
  <div>
    <%= render 'shared/side_bar' %>
  </div>
  <div class="feeds-content">
    <div class="frm_post">
      <%= render 'posts/form' %>
      <%= render 'posts/show' %>
    </div>
  </div>
</div>

