* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: #fcfcfc;
}

#banner {
  background-image: url('./images/beef-food.jpg');
  margin: 0;
  padding: 0;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centralize {
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner .header {
  color: #fff;
  font-weight: 900;
  font-size: 40px;
  text-shadow: 1px 2px #333;
  font-family: 'Kanit', sans-serif;
}

.menu {
  color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #660408;
}

.menu-item {
  height: 50px;
  display: flex;
  font-size: 30px;
  font-weight: 600;
  line-height: 50px;
  width: calc(100% / 3);
  justify-content: center;
  align-items: center;
  font-family: verdana, sans-serif;
}

.menu-item:first-of-type {
  cursor: pointer;
}

.menu-item a {
  color: #fff;
}

.activate {
  background-color: #ac1010;
}

.headeline {
  height: 45vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f4f4;
}

.headeline p {
  font-size: 30px;
  font-family: sans-serif;
}
