body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 18px;
  font-family: 'Baloo Chettan', cursive;
  text-transform: uppercase;
}

header {
  width: 100%;
  height: 136px;
  padding: 1em 0;
  position: relative;
  background-color: #333;
}

#container-header {
  height: 129px;
  overflow: hidden;
}

.header-content {
  width: 100%;
  padding: 0 2em;
  position: relative;
}

#logo {
  top: 20px;
  width: 16%;
  float: left;
  height: 80px;
  line-height: 80px;
  text-align: center;
  position: relative;
  background-color: #ccc;
  display: inline-block;
}

#menu-bar {
  top: -18px;
  width: 62%;
  float: left;
  height: 129px;
  margin-left: 1%;
  position: relative;
  display: inline-block;
}

#menu-bar nav ul li h2 {
  margin-top: 30px;
}

#menu-bar span {
  font-size: 12px;
  font-weight: 100;
  font-style: italic;
  font-family: Elena;
}

nav {
  height: 129px;
}

nav ul {
  padding: 0;
  height: 129px;
  list-style-type: none;
}

#menu-bar nav ul li {
  float: left;
  width: 154px;
  height: 120px;
  font-size: 14px;
  margin-left: 10px;
  text-align: center;
  display: inline-block;
  background-color: #999;
}

#search-button {
  top: 40px;
  width: 12%;
  height: 50px;
  line-height: 50px;
  border-radius: 4px;
  position: relative;
  text-align: center;
  background-color: #ccc;
  display: inline-block;
}

/*=================================
          Articles Styles
==================================*/
.featured-articles-container {
  position: relative;
}

h1 {
  margin: 0;
  padding: 0;
  z-index: 1;
  top: 20px;
  margin-left: 50%;
  text-align:center;
  position: absolute;
  transform: translate(-50%);
}

.featured-article:nth-of-type(3n+1){
  background-color: #9c9c9a;
}

.featured-article:nth-of-type(3n+4) {
  background-color: #9c9c9c;
}

.featured-article:nth-of-type(3n+2) {
  background-color: #a7a5a5;
}

.featured-article:nth-of-type(3n+3) {
  background-color: #929191;
}

.featured-article {
  width: 50%;
  float: left;
  height: 400px;
  padding-top: 10em;
  position: relative;
}

.media-object {
  padding-left: 2.5em;
}

.author-photo {
  width: 80px;
  float: left;
  border-radius: 4px;
  margin-right: 1em;
  text-align: center;
  background-color: #ccc;
  text-transform: capitalize;
}

.author-name {
  margin-top: 5px;
  font-weight: 200;
  display: inline-block;
  text-transform: capitalize;
}

.article-title {
  max-width: 87%;
  font-weight: 300;
  text-transform: capitalize;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);
}

.article-tag {
  padding: 0;
  list-style-type: none;
  text-transform: capitalize;
}

.article-tag li {
  float: left;
  margin-right: 20px;
  display: inline-block;
}

.featured-articles-container::after {
  content: '';
  display: block;
  clear: both;
}

.container-latest-articles {
  background-color: #f6f3f2;
}

.grid-latest-articles {
  width: 92vw;
  height: 747px;
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 30px;
}

.grid-latest-articles header {
  height: 100px;
  font-size: 25px;
  font-weight: 400;
  background-color: #ddd;
  text-transform: capitalize;
}

.grid-latest-articles span:first-of-type, .article-time {
  margin-left: 15px;
}

.grid-latest-articles header span:last-of-type {
  font-size: 18px;
}

.grid-latest-articles div {
  height: 592px;
  background-color: #ddd;
}

.written-by {
  text-transform: lowercase;
}

.article-author {
  text-decoration: underline;
}

.article-time {
  color: #666;
  font-size: 18px;
  font-weight: 100;
  font-family: Elena;
}

.latest-article-left {
  float: left;
  width: 32%;
  margin-right: 25px;
}

.latest-article-center {
  width: 32%;
  display: inline-block;
}

.latest-article-right {
  float: right;
  width: 32%;
}

.grid-latest-articles p {
  margin-top: 0;
  font-family: Elena;
  line-height: 1.8em;
  padding-left: 16px;
  padding-right: 10px;
  padding-bottom: 10px;
  text-align: justify;
  background-color: #ddd;
  text-transform: capitalize;
}
