<div class="center jumbotrom">
  <h1>Welcome to the Private Events App</h1>

  <h2 class="center">
    This is the home page for the Private Events Application from
    <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/associations">
      Project: Private Events</a>.
  </h2>

</div>
