* {
  margin: 0;
  padding: 0;
}

article {
  left: 0;
  top: 0;
  right: auto;
  width: 100%;
  height: 538px;
  overflow: hidden;
  position: absolute;
}

section {
  left: 50%;
  height: 538px;
  width: 1440px;
  overflow: hidden;
  position: relative;
  margin-left: -720px;
  background: url("../images/your_verse_hero.jpg") no-repeat 50% 100%;
}

/* Promos styles */
.promos {
  z-index: 1;
  top: 538px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: absolute;
}

.promos ul {
  height: 200px;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1440px;
  text-align: center;
  position: relative;
  overflow: hidden;
  list-style: none outside;
}

.promos ul li {
  position: relative;
  z-index: 1;
  float: left;
  overflow: hidden;
  margin: 0;
  width: 25%;
  height: 200px
}

.promos ul li a {
  position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: block;
      overflow: hidden;
      cursor: pointer;
}

.promos ul li a img {
  position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -182px;
}
