/* Global Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

/* Navbar Styles */
nav {
  top: 18px;
  height: 36px;
  width: 980px;
  z-index: 1;
  margin: 0 auto;
  position: relative;
  background: linear-gradient(rgb(140,140,140), rgb(110,110,110) 50%,
              rgb(90,90,90) 51%, rgb(130,130,130));
}

nav ul {
  text-align: center;
  display: inline-block;
}

nav ul li {
  float: left;
  width: 106px;
  list-style: none outside;
}

.nav-menu {
  line-height: 35px;
}

nav img {
  width: 23px;
  vertical-align: middle;
}

nav ul li input {
  width: 106px;
}

nav ul li a {
  color: #fff;
}

nav ul li:hover {
  background: #333;
  cursor: pointer;
}

nav ul li:last-of-type:hover {
    background: linear-gradient(rgb(140,140,140), rgb(110,110,110) 50%,
                rgb(90,90,90) 51%, rgb(130,130,130));
}

nav ul li:first-child {
  border-radius: 4px 0 0 4px;
}

nav ul li:last-child {
  border-radius: 0 4px 4px 0;
}

/* Article styles */
article {
  left: 0;
  top: 0;
  right: auto;
  width: 100%;
  height: 538px;
  overflow: hidden;
  position: absolute;
}

section {
  left: 50%;
  height: 538px;
  width: 1440px;
  overflow: hidden;
  position: relative;
  margin-left: -720px;
  background: url("../images/your_verse_hero.jpg") no-repeat 50% 100%;
}

.header {
  top: 25%;
  width: 800px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-weight: 100;
  line-height: 1.4em;
  color: #fff;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
  font-weight: 200;
  padding-top: 20px;
}

h3 a:hover {
  text-decoration: underline;
}

/* Search form styles */
#mn-search {
  top: 6px;
  padding: 2px 5px;
  position: relative;
}

#mn-search input {
  color: #fff;
  border: none;
  height: 19px;
  width: 106px;
  border-radius: 12px;
  padding: 2px 18px 1px 8px;
  border-top: 2px solid rgb(60,60,60);
  border-bottom: 1px solid rgb(160,160,160);
  background: linear-gradient(rgb(140,140,140), rgb(110,110,110) 50%,
              rgb(90,90,90) 51%, rgb(130,130,130));
}

#icon-search {
  top: 7px;
  left: 10px;
  width: 15px;
  height: 15px;
  position: absolute;
  display: table-cell;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGJhc2VQcm9maWxlPSJmdWxsIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4bWxuczpldj0iaHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzIj4KPGcgZmlsbC1vcGFjaXR5PSIuNSI%2BCgk8cG9seWdvbiBwb2ludHM9IjkuMjA3LDcuMTI2IDcuNzkzLDguNTQxIDExLjc5MywxMi41NDEgMTMuMjA3LDExLjEyNiIgLz4KCTxwYXRoIGQ9Ik01LjkxNywzYzEuNjA4LDAsMi45MTcsMS4zMDgsMi45MTcsMi45MTdTNy41MjUsOC44MzMsNS45MTcsOC44MzNTMyw3LjUyNSwzLDUuOTE3UzQuMzA4LDMsNS45MTcsMyBNNS45MTcsMQoJCUMzLjIwMSwxLDEsMy4yMDEsMSw1LjkxN3MyLjIwMSw0LjkxNyw0LjkxNyw0LjkxN3M0LjkxNy0yLjIwMSw0LjkxNy00LjkxN0MxMC44MzMsMy4yMDEsOC42MzIsMSw1LjkxNywxTDUuOTE3LDF6IiAvPgo8L2c%2BCjxnPgoJPHBvbHlnb24gZmlsbD0iI2ZmZiIgcG9pbnRzPSI5LjIwNyw2LjEyNiA3Ljc5Myw3LjU0MSAxMS43OTMsMTEuNTQxIDEzLjIwNywxMC4xMjYiIC8%2BCgk8cGF0aCBmaWxsPSIjZmZmIiBkPSJNNS45MTcsMmMxLjYwOCwwLDIuOTE3LDEuMzA4LDIuOTE3LDIuOTE3UzcuNTI1LDcuODMzLDUuOTE3LDcuODMzUzMsNi41MjUsMyw0LjkxN1M0LjMwOCwyLDUuOTE3LDIKCQkgTTUuOTE3LDBDMy4yMDEsMCwxLDIuMjAxLDEsNC45MTdzMi4yMDEsNC45MTcsNC45MTcsNC45MTdzNC45MTctMi4yMDEsNC45MTctNC45MTdDMTAuODMzLDIuMjAxLDguNjMyLDAsNS45MTcsMEw1LjkxNywweiIgLz4KPC9nPgo8L3N2Zz4K);
}

/* Promos styles */
.promos {
  z-index: 1;
  top: 538px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: absolute;
}

.promos ul {
  height: 200px;
  margin: 0 auto;
  min-width: 1024px;
  max-width: 1440px;
  text-align: center;
  position: relative;
  overflow: hidden;
  list-style: none outside;
}

.promos ul li {
  position: relative;
  z-index: 1;
  float: left;
  overflow: hidden;
  margin: 0;
  width: 25%;
  height: 200px
}

.promos ul li a {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.promos ul li a img {
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -182px;
}


/* Footer styles */

footer {
  z-index: 1;
  top: 700px;
  width: 100%;
  line-height: 1.2;
  min-width: 980px;
  position: relative;
}

footer div {
  width: 980px;
  margin: 0 auto;
  padding: 1em 0 2.6em;
}

footer div, footer p {
  font-size: 10px;
}

footer .right {
  float: right;
  width: 53%;
  text-align: right;
  padding-top: .6em;
}

footer div ul li {
  float: none;
  margin-left: .6em;
  padding-left: .6em;
  display: inline-block;
  list-style: none outside;
  border-left: 1px solid #ccc;
}

footer a {
  color: #08c;
  text-decoration: none;
}

footer a img {
  vertical-align: middle;
}

.first {
  margin-left: 0;
  padding-left: 0;
  border-left: none;
}

.left {
  float: left;
  clear: both;
  width: 47%;
  text-align: left;
  padding-top: .8em;
  padding-bottom: 0;
  margin-left: -10px;
}

.piped, footer ul li, footer p {
  display: inline;
  list-style: none outside;
}
