<%= render 'devise/shared/flash_messages'%>
<div class="container clearfix">
  <div id="content">
    <div id="home-info">
      <h2 id="lemma">
        Connect with friends and the <br>
        world around you on Facebook.
      </h2>
      <div class="odinbook_features">
        <div class="product_icon">
          <img src="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.2365-6/851565_602269956474188_918638970_n.png?_nc_cat=0&oh=7468666d78dda55ec6cce1119a08e608&oe=5B740FF5" alt="">
        </div>
        <div class="product_desc">
          <span class="highlight_text">See photos and updates</span>
          <span class="ordinary_text">from friendes in News Feed.</span>
        </div>
      </div>
      <div class="odinbook_features">
        <div class="product_icon">
          <img src="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.2365-6/851585_216271631855613_2121533625_n.png?_nc_cat=0&oh=ba7b29668cfd9f817fd31b43f49bdab8&oe=5B2B7A20" alt="">
        </div>
        <div class="product_desc">
          <span class="highlight_text">Share what's new</span>
          <span class="ordinary_text">in your life on your Timeline.</span>
        </div>
      </div>
      <div class="odinbook_features">
        <div class="product_icon">
          <img src="https://scontent.fnat1-1.fna.fbcdn.net/v/t39.2365-6/851558_160351450817973_1678868765_n.png?_nc_cat=0&oh=7495f4cc9871045531f17b33f2067049&oe=5B5BDDD8" alt="">
        </div>
        <div class="product_desc">
          <span class="highlight_text">Find more</span>
          <span class="ordinary_text">of what you're looking for with Facebook Search.</span>
        </div>
      </div>
    </div>
    <div class="home-register-form">
      <%= render 'devise/shared/registration_form' %>
    </div>
  </div>
</div>
