<div class="frm-post">
  <%= form_for @post do |f| %>
    <div class="post-title">
      New post
    </div>
    <div>
      <%= f.text_area :content, id: "content",
          placeholder: "What are you thinking about?" %>
    </div>
    <div class="post-submit">
      <%= f.submit 'Post' %>
    </div>
  <% end %>
</div>
