  <% current_user.posts.each do |post| %>
      <div class="posted">
        <div class="info-comment">
          <%= render 'posts/post_top' %>
        </div>
        <div class="post-content">
          <%= post.content %>
        </div>
        <div class="links-comment">
          <ul>
            <li>like</li>
            <li>Comment</li>
          </ul>
        </div>
      </div>

      <%= render 'comments/show_comments', locals: {post: post} %>
      <div class="fcomment">
        <%= render 'comments/form_comment', locals: {post: post} %>
      </div>

  <% end %>
