<div class="row">
  <div class="col-md-8 col-md-offset-2 well">

    <h3>Passenger(s) detail(s)</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <% @booking.passengers.each do |p| %>
          <tr>
            <td><%= p.name %></td>
            <td><%= p.email %></td>
          </tr>
        <% end%>
      </tbody>
    </table>

  </div>

</div>
