/* Board styles */
.board-container {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  justify-content: center;
  width: 50%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5rem;
}

.grid-item {
  display: inherit;
  justify-items: center;
  align-items: center;
  font-size: 100px;
  border: 1px solid;
  cursor: pointer;
}

/* Player options styles */
.tc-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.tictactoe  {
  height: 200px;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border: 1px solid;
  text-align: center;
}

.tictactoe a,
#playerX,
#player0 {
  color: #fff;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #fff;
  text-decoration: none;
  background-color: #23c0c6;
}

.players-choose {
  margin-bottom: 60px;
}

.players-choose h2 {
  padding-top: 0;
  margin-top: 0;
}

.btn {
  color: #fff;
  border: none;
  width: 35px;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: #216b4a;
}

#bt-start-game {
  width: 350px;
}

.container-buttons {
  display: flex;
  justify-content: space-between;
}

.btn-nwg {
  margin-left: auto;
  margin-right: auto;
}

.btn-nwg button {
  width: 180px;
}

#bt-new-game {
  background-color: #345678;
}

#bt-cancel-game {
  background-color: #cf0909;
}
