#board {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.row {
  width: 25rem;
  display: inherit;
  margin-left: auto;
  margin-right: auto;
}

.grid-item {
  height: 7rem;
  width: 33.33%;
  display: flex;
  font-size: 80px;
  font-weight: 900;
  border: 1px solid;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: arial, verdana, sans-serif;
}

.opt-players {
  width: 25rem;
  margin-top: 7rem;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  box-shadow: 3px 3px #ccc;
  background: #e6e6e655;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-game {
  width: 25rem;
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

button {
  color: #fff;
  border: none;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: #03236b;
  box-shadow: 2px 3px #ccc;
}

#btn-playerx { margin-right: 20px; }

#btn-nw-game {
  margin-right: 5%;
  background-color: #036b36;
}

#btn-reset-game { background-color: #d22e11; }

#message-game {
  display: flex;
  justify-content: center;
  align-items: center;
}

#message {
  font-size: 35px;
  font-weight: 900;
}
