/********************************
 * Geral styles
 *********************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f4f5f6;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.fluid-container {
  max-width: 1310px;
  min-width: 320px;
  margin: 0 auto;
}

/********************************
 * Header Top styles
 *********************************/
.page-header date {
  top: 45px;
  color: #fff;
  margin-left: 14px;
  position: relative;
  font: 16px/34px "Roboto Condensed",sans-serif;
}

.header-top {
  height: 95px;
  position: relative;
  padding: 20px 15px;
  background-color: #f72210;
}

.header-top date {
  top: 10px;
  margin: 0;
}

.header-top section {
  width: 50%;
  padding-left: 15px;
}

.header-top section:last-child {
  text-align: right;
}

.link-1 {
  padding-left: 12px;
  padding-right: 12px;
}

.link-2 {
  color: #f72210;
  background-color: #fff;
  padding: 10px;
}

.lk-font {
  text-decoration: none;
  font: bold 16px/16px "Roboto Condensed",sans-serif;
}

.lk-color {
  color: #fff;
}

.header-middle {
  top: 0;
  left: 50%;
  z-index: 10;
  position: absolute;
  background-color: #f72210;
  transform: translate(-50%,0);
  padding: 10px 10px 15px;
  font: bold 70px/70px "Roboto Condensed", sans-serif;
}

.header-middle a:hover,
.subscribe a:first-child:hover,
.subscribe a:last-child:hover {
  color: #fff;
}

.header-middle a:last-child i {
  display: none;
}
/********************************
 * Nav bar styles
 *********************************/
.header-bottom {
  height: 58px;
  width: 100%;
  padding-right: 140px;
  position: relative;
  background-color: #fff;
  border-bottom: 1px solid #d9d9d9;
}

.header-bottom ul {
  align-items: center;
}


.page-header .header-top {
    margin:0;
}

.header-bottom a {
  color: black;
}

.header-bottom::before {
    position: absolute;
    top: 0;
    right: 0;
    content: "";
    display: block;
    width: 78px;
    background-color: #f72210;
    border-left: 12px solid #fff;
    border-top: 13px solid #f72210;
}

.header-bottom ul {
  width: 100%;
  font-size: 21px;
  padding-left: 0;
  font-weight: 700;
  list-style: none;
  line-height: 44px;
  font-family: "Roboto Condensed",sans-serif;
}

.nav-item a:hover {
  color: #f72210;
}

.icon-dlb {
  width: 89px;
  font-size: 0;
  background-position: 10px 0;
  background: url("https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/NDELIBLE.black3.gif")
      15px 9px/89px no-repeat;
}

.nav-item .ndelible {
  height: 26px;
  margin-left: auto;
  margin-right: auto;
}

.filter-image h2 {
  top: 20px;
  clip: auto;
  width: 20px;
  right: 80px;
  height: 20px;
  font-size: 0;
  position: absolute;
  background-color: #fff;
  background-size: contain;
  background-position: center;
  background-image: url("https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/icon-search-glass.svg");
}

.search-field input {
  top: 3px;
  right: 105px;
  width: 60px;
  height: 52px;
  border: none;
  font-size: 18px;
  position: absolute;
}

.separator {
  line-height: 24px;
  border-right: 1px solid #d9d9d9;
}

header::after {
  content: "";
  display: table;
  clear: both;
}

#nav-menu .navbar-brand {
  display: none;
}

/********************************
 * Articles styles
 *********************************/
main {
  background: #fff;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

main img {
  width: 100%;
}

main .row {
  padding-top: 20px;
  margin: 0;
}

.wrap {
  position: relative;
  margin-bottom: 10px;
}

.category {
  display: block;
  font: bold 17px/16px "Roboto Condensed",sans-serif;
  color: #f72210;
  text-transform: uppercase;
  padding: 8px 15px 9px;
  background-color: rgba(255,255,255,.9);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.section-title {
  padding-left: 1%;
  padding-bottom: 5px;
  color: rgba(3,3,3,.4);
  text-transform: uppercase;
  font: bold 16px/16px "Roboto Condensed",sans-serif;
}

/********************************
 * Opinion column styles
 *********************************/

.block-opinion {
  padding-bottom: 20px;
}

ul {
  padding: 0;
  list-style: none;
}

.line {
  border-bottom: 1px solid #ccc;
  margin-bottom: 8px;
  height: auto;
}

ul > li img {
  width: auto;
  height: 63px;
}

.img-opinion {
  float: left;
  margin-right: 7px;
}

.info-opinion {
  width: auto;
  margin-bottom: 10px;
  display: flow-root;
  font:bold 16px/18px "Roboto Condensed",sans-serif;
}

.info-opinion a {
  color: #000;
}

.info-by, .info-by a {
  color: #555;
  margin-top: 5px;
  font-size: 14px;
  line-height: 21px;
}

.info-opinion a:hover{
  color: #f72210;
}

.block-latest h2 {
  padding-bottom: 0;
  border-bottom: none;
}

.block-latest .image {
  margin-right: 6px;
}

.latest-info {
  flex: 1;
  font: bold 17px/21px "Roboto Condensed",sans-serif;
}

.block-latest li {
  display: flex;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
}


.block-latest li:nth-child(1n+1) {
  margin-top: 10px;
}

.block-latest li:last-of-type {
  border-bottom: none;
}

/********************************
 * Column one Articles styles
 *********************************/
h3,h4 {
  color: #000;
  font-weight: 700;
}
h3 {
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-size: 23px;
  line-height: 23px;
}

.summary {
  font-size: 15px;
  line-height: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

h3 > a:hover {
  text-decoration: underline #f72210;
}

.related {
  font-size: 14px;
  color: #000;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.related a:hover {
  color: #f72210;
}

/********************************
 * Column two styles
 *********************************/
.top-story .related  {
  font-size: 19px;
}

.block-title {
  padding-bottom: 11px;
  color: rgba(3,3,3,.4);
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  font: bold 16px/16px "Roboto Condensed",sans-serif;
}

.top-story-more article {
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ccc;
}

.top-story-more article .image {
  float: left;
  width: 182px;
  margin-right: 20px;
}

.top-story-more article:after {
  content: "";
  display: table;
  clear: both;
}

.top-story-more h4 {
  font-size: 18px;
}

.top-story-more h4 a:hover {
  text-decoration: underline #f72210;
}

.top-story-more article .summary {
  padding-bottom: 0;
}

.top-story-more article .summary,
.top-story-more article:last-of-type {
  border-bottom: none;
}

.newsletter {
  padding: 20px;
  max-width: 274px;
  margin: 0 auto 30px;
  border:1px solid #e5e5e5;
  background-color: #f4f5f6;
}

.n-title {
  margin-bottom: 30px;
  text-transform: uppercase;
  font: bold 19px/19px "Roboto Condensed",sans-serif;
}

.icon-n {
  top: 5px;
  float: left;
  width: 29px;
  height: 28px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  background: url("https://s.newsweek.com/sites/www.newsweek.com/themes/newsweek/images/logo-n.svg")
              center/contain no-repeat #f72210;
}

.signup-lk {
  color: #fff;
  display: inline-block;
  background-color: #666;
  padding: 10px 10px 10px 12px;
  font: bold 18px/18px "Roboto Condensed",sans-serif;
  margin-bottom: 10px;
}

.upprefs-lk {
  color: #000;
  font: bold 15px/15px "Roboto Condensed",sans-serif;
}

/********************************
 * Magazine styles
 *********************************/
.magazine {
  margin-bottom: 10px;
}

.magazine .n-title,
.editors-pick .n-title,
.galleries-pictures .n-title {
  height: 50px;
  margin-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.editors-pick .n-title {
  margin-left: 15px;
  margin-right: 15px;
}

.magazine .icon-n,
.editors-pick .icon-n,
.galleries-pictures .icon-n {
  float: none;
}

.magazine .top .col-sm-3 {
  padding: 0;
  margin-top: 13px;
}

.magazine .bottom .col-sm-3 {
  padding-left: 15px;
  padding-right: 15px;
}

#cover-magazine {
  padding-left: 15px;
  padding-right:15px;
}

.lk-all-features {
  display: block;
  text-align: center;
  margin-bottom: 0;
  background-color: #f4f5f6;
  padding: 10px 10px 10px 12px;
  font: bold 18px/18px "Roboto Condensed",sans-serif;
  text-transform: uppercase;
}

.cover-footer {
  margin-bottom: 0;
}

.cover-footer .category {
  font: bold 16px/33px "Roboto Condensed",sans-serif;
  padding: 0 10px;
}

.lk-all-features:hover {
  background-color: #ccc;
}

.bottom .col-sm-3 picture,
.magazine .col-sm-4 picture {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
}

.bottom .col-sm-3 picture img,
.magazine .col-sm-4 picture img {
  top: 0;
  left: 50%;
  width: auto;
  height: 100%;
  position: absolute;
  max-width: inherit;
  transform: translate(-50%,0%);
}

.magazine article .category,
.bottom article .category {
  padding-left: 0;
  margin-top: 3px;
  margin-bottom: 2px;
  position: relative;
}

.mag-cat {
  color: #fff;
  padding: 0 7px;
  background-color: #f72210;
  margin-right: 10px;
}

.magazine h5,
.bottom h5 {
  color: #000;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  font-family: "Roboto Condensed",sans-serif;
  margin-bottom: 10px;
  position: relative;
}

.magazine .mag-feat {
  margin-left: -15px;
  margin-right: -15px;
}

.magazine h5 a:hover {
  text-decoration: underline #f72210;
}

.bottom .col-sm-3 .big-shots picture {
  padding-bottom: 110%;
}

.bottom .col-sm-3 .big-shots .category {
  position: absolute;
  margin-bottom: 0;
  padding-left: 9px;
  color: #fff;
  background-color: #f72210;
  padding: 6px 12px 6px;
}

.editors-pick {
  margin-bottom: 10px;
}

.editors-pick article h3,
.galleries-pictures article h3 {
  font-family: "Roboto Condensed",sans-serif;
  margin-bottom: 10px;
  position: relative;
}

.editors-pick article .summary {
  border-bottom: none;
}

.section-picks {
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-picks .block-title {
  color: #f72210;
  font-size: 22px;
  line-height: 22px;
  border-bottom: none;
  text-transform: none;
  padding-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 20px;
  border-top: 1px solid #ccc;
}

.section-picks .row {
  padding-top: 0;
}

.sp-row {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.sp-subfeatued li {
  display: flex;
}

.sp-subfeatued .info {
  flex: 1;
  font: bold 17px/23px "Roboto Condensed",sans-serif;
}

.sp-subfeatued .image {
  float: left;
  margin-right: 11px;
}

.sp-subfeatued .info {
  float: left;
  width: 68%;
}

.sp-subfeatued .info a:hover {
  color: #f72210;
}

.section-picks article h3 {
  margin-top: 10px;
  font-size: 22px;
  line-height: 22px;
}

/********************************
* Footer styles
*********************************/
footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-top: 2px solid #f4f5f6;
}

.brand {
  color: #f22210;
  font: bold 50px/50px "Roboto Condensed", sans-serif;
}

.brand:hover {
  color: #f22210;
  text-decoration: none;
}

.copyright {
  margin: 0;
  padding: 0;
}

.copyright {
  color: #666;
  font-size: 12px;
  margin-left: 5px;
  line-height: 12px;
  padding-bottom: 7px;
  text-transform: uppercase;
  text-decoration: none;
}

footer {
  padding-left: 30px;
  padding-right: 30px;
}

footer .copyright a:hover {
  color: #000;
}

footer div:first-child {
  margin-bottom: 4px;
}

footer ul  {
  margin-bottom: 6px;
}

footer ul li {
  margin-left: 10px;
}

footer ul li a:hover {
  color: #3b5998;
}

.ft-flex {
  display: flex;
  flex-wrap: wrap;
}

.fx-content {
  justify-content: space-between;
}

.fx-align {
  align-items: flex-end;
}

.ft-social-icon {
  font-size: 26px;
  display: block;
}

.ft-menus {
  margin-left: 0;
  margin-right: 0;
}

.ft-links {
  color: #666;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  padding-top: 6px;
  line-height: 15px;
  border-top: 1px solid #d9d9d9;
}

.ft-links .col-md-7 {
  padding: 0;
}

.ft-links ul li {
  margin: 6px 0;
  margin-left: auto;
  margin-right: 10px;
  padding-right: 10px;
  display: inline-block;
}

.ft-links ul li a:hover {
  color: #000;
}

.ft-leaf {
  border-right: 1px solid #d9d9d9;
}

.ft-edition {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.ft-edition label {
  position: absolute;
  margin-top: 6px;
}

.ft-edition ul {
  position: absolute;
  left: 66px;
}


/********************************
* Sticky colums
*********************************/
@media (min-height: 60px) {
  .tp-story {
    position: sticky;
    top: 0;
  }

  .r-sidebar {
    position: sticky;
    top: 0;
  }
}

/********************************
* Media queries settings
*********************************/

@media (max-width: 991px) {

  #first {
    order: 1;
    flex: 0 0 40%;
    max-width: 40%;
  }

  #second {
    order: 2;
    flex: 0 0 60%;
    max-width: 60%;
  }

  #third {
    order: 3;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .search-field {
    display: none;
  }

  #nav-menu::before {
    display: none;
  }

  #nav-menu {
    background-color: #f72210;
  }

  #nav-menu button {
    top: 0;
    right: 0;
    display: block;
    font-size: 25px;
    position: absolute;
    line-height: 40px;
    margin-right: 20px;
  }

  #nav-menu .navbar-brand {
    display: block;
    color: #fff;
  }

  .header-middle, .header-top {
    display: none;
  }

  .editors-pick .col-sm-3 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .magazine article .category {
    margin-top: 10px;
    font: bold 16px/26px "Roboto Condensed",sans-serif;
    padding: 0;
  }

  .mag-cat {
    margin-right: 4px;
  }

  .info-opinion {
    margin-bottom: 30px;
  }

  .ft-edition ul {
    position: absolute;
    left: 79px;
  }


}

@media (max-width: 767px) {

  body {
    font-size: 15px;
    line-height: 20px;
  }

  #first {
    order: 2;
    flex: 0 0 100%;
    max-width: 100%;
  }

  #second {
    order: 1;
    flex: 0 0 100%;
    max-width: 100%;
  }

  #third {
    order: 3;
    flex: 0 0 100%;
    max-width: 100%;
  }

  #nav-menu {
    background-color: #f72210;
  }

  #nav-menu button {
    color: #fff;
  }

  #nav-menu button {
    top: 0;
    right: 0;
    display: block;
    font-size: 25px;
    position: absolute;
    line-height: 40px;
    margin-right: 20px;
  }

  #nav-menu .navbar-brand {
    display: block;
    color: #fff;
  }

  .header-middle, .header-top, .search-field,
  #nav-menu::before {
    display: none;
  }

  .summary {
    font-size: 13px;
    line-height: 18px;
  }

  .magazine h5, .bottom h5 {
    font-size: 15px;
    line-height: 15px;
  }

  .mag-cat {
    margin-right: 1px;
  }

  .magazine article .category {
    margin-top: 10px;
    font: bold 15px/25px "Roboto Condensed",sans-serif;
    padding: 0;
  }

  .editors-pick .col-sm-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  main {
    padding: 0;
  }

  .ft-edition ul {
    position: absolute;
    left: 60px;
  }

  .ft-edition label {
    margin-top: -7px;
  }

  .ft-edition ul {
    margin-top: -12px;
  }

}

@media (max-width: 768px) {

  .col-md-7, .col-md-4  {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .ft-edition {
    margin: auto;
    margin-bottom: 40px;
  }

}

@media (max-width: 1125px) {
  .header-bottom {
    padding-right: 170px;
  }
}
