/* Resetting some properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Defining the container */
.grid-container {
  width:  100%;
  max-width: 1200px;
  margin-left: auto;
  margin-left: auto;
}

.grid-row::before,
.grid-row:after {
  content: "";
  display: table;
  clear: both;
}

[class*="grid-column-"] {
  float: left;
  padding: 15px;
  width: 8.33%;
  border: 1px solid red;
}

.grid-column-1 {
  width: 8.33%;
}

.grid-column-2 {
  width: 16.66%;
}

.grid-column-3 {
  width: 25%;
}

.grid-column-4 {
  width: 33.33%;
}

.grid-column-5 {
  width: 41.66%
}

.grid-column-6 {
  width: 50%;
}

.grid-column-7 {
  width: 58.33%;
}

.grid-column-8 {
  width: 66.66%;
}

.grid-column-9 {
  width: 75%;
}

.grid-column-10 {
  width: 83.33%;
}

.grid-column-11 {
  width: 91.66%;
}

.grid-column-12 {
  width: 100%;
}

/* Trying the framework. */
.grid-container {
  background-color: rgb(224, 224, 224);
  margin: 0 auto;
}

[class*="grid-column-"] {
  text-align: center;
}
