<h1>Events</h1>

<%= render partial: 'shared/events', locals: { events: @events.upcoming_events, type: 'Upcoming' } %>
<%= render partial: 'shared/events', locals: { events: @events.previous_events, type: 'Past' } %>
