<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Members App", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
          <li><%= link_to "New Post", new_post_path %></li>
          <li><%= link_to "Log out", signout_path, method: :delete %></li>
        <% else %>
          <li>
            <%= link_to "Sign in", signin_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
